demo_v1
[{"id":"60b1046f.48a20c","type":"tab","label":"BOXENERGIE TEST","disabled":false,"info":"FLOW réel Mai 2019\n- contient des objets\n- connecté au LINKY et à 2 compteurs IMPULSION (prod, conso)\nLe 2e compteur à impulsion pallie l'absence de remontée\nde l'index d'injection par LINKY\n\nOpenweatherMap API key : 7997e8bbdce33a3a717b14e9da5f0dce"},{"id":"62b26cc0.198454","type":"function","z":"60b1046f.48a20c","name":"TICserie","func":"// Decodage trames LINKY mode STANDARD - www.sunshare.fr\n// Objectif script NodeRed\n\n// fichier décrivant la TIC Enedis-NOI-CPT_54E\n// ADSC 12 // DATE 13 // LTARF 16 // EAST 9 Wh // EAIT 9 Wh \n// URMS1 3 V //PREF 2 kVA // SINSTS 5 VA // PRM 14\n\n//passage de la trame en variable\nvar trame_tic=msg.payload;\nvar SnSrIdxObj = flow.get('SnSrIdxObj');//20200127 - RED.util.cloneMessage(flow.get('SnSrIdxObj'));\n//var SnSrObj = {};\n\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n\n//recherche des chaines, passage en nombres\nvar tADSC=\"ADSC\"\nvar lADSC=trame_tic.indexOf(\"ADSC\")+tADSC.length+1;\nvar ADSC=trame_tic.substring(lADSC,lADSC+12);\nvar tDATE=\"DATE\"\nvar lDATE=trame_tic.indexOf(\"DATE\")+tDATE.length+1;\nvar DATE_label=trame_tic.substring(lDATE,lDATE+1);\nvar DATE=\"20\"+trame_tic.substring(lDATE+1,lDATE+13);\nvar tLTARF=\"LTARF\"\nvar lLTARF=trame_tic.indexOf(\"LTARF\")+tLTARF.length+1;\nvar LTARF=trame_tic.substring(lLTARF,lLTARF+16);\n\nif (LTARF.indexOf(\"BAS\",0)>0) { LTARF='BASE'; } //BASE chez EDF, ENERCOOP....diffère selon chaque fournisseur\n        else if (LTARF.indexOf(\"HC.\",0)>0) {LTARF='HC/HP'; } //HC.. HP/HC chef EDF\n        else if (LTARF.indexOf(\"EJP\",0)>0) {LTARF='EJP'; } //EJP chez EDF\n        else if (LTARF.indexOf(\"BBR\",0)>0) {LTARF='HC/HP'; } //TEMPO chez EDF\n        else {LTARF='INCONNU'; } //\n    \nvar tEAST=\"EAST\"\nvar lEAST=trame_tic.indexOf(\"EAST\")+tEAST.length+1;\nvar EAST=trame_tic.substring(lEAST,lEAST+9);\nvar nEAST=parseInt(EAST);\n\nvar tEAIT=\"EAIT\"\nvar EAIT=\"NO INJECT\"\nif (trame_tic.indexOf(\"EAIT\",0)>0) \n\t{var lEAIT=trame_tic.indexOf(\"EAIT\")+tEAIT.length+1;\n\tEAIT=trame_tic.substring(lEAIT,lEAIT+9);\n\t} \nvar nEAIT=parseInt(EAIT);\n\nvar tURMS1=\"URMS1\"\nvar lURMS1=trame_tic.indexOf(\"URMS1\")+tURMS1.length+1;\nvar URMS1=trame_tic.substring(lURMS1,lURMS1+3);\nvar nURMS1=parseInt(URMS1);\nvar tPREF=\"PREF\"\nvar lPREF=trame_tic.indexOf(\"PREF\")+tPREF.length+1;\nvar PREF=trame_tic.substring(lPREF,lPREF+2);\nvar nPREF=parseInt(PREF);\nvar tSINSTS=\"SINSTS\"\nvar lSINSTS=trame_tic.indexOf(\"SINSTS\")+tSINSTS.length+1;\nvar SINSTS=trame_tic.substring(lSINSTS,lSINSTS+5);\nvar nSINSTS=parseInt(SINSTS);\nvar tSINSTI=\"SINSTI\"\nvar lSINSTI=trame_tic.indexOf(\"SINSTI\")+tSINSTI.length+1;\nvar SINSTI=trame_tic.substring(lSINSTI,lSINSTI+5);\nvar nSINSTI=parseInt(SINSTI);\nvar tPRM=\"PRM\"\nvar lPRM=trame_tic.indexOf(\"PRM\")+tPRM.length+1;\nvar PRM=trame_tic.substring(lPRM,lPRM+14);\nvar nPRM=parseInt(PRM);\n\nvar SimulAnnee = DATE.substring(0,4);\nvar SimulMois = parseInt(DATE.substring(4,6));\nvar SimulJour = DATE.substring(6,8);\nvar SimulHours = DATE.substring(8,10);\nvar SimulMin = DATE.substring(10,12);\nvar SimulSec = DATE.substring(12,14);\n\nSnSrIdxObj.TICtime = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\nSnSrIdxObj.TICstamp = SnSrIdxObj.TICtime.getTime(); \nSnSrIdxObj.tarif = LTARF;\nSnSrIdxObj.soutiridx = nEAST; \nSnSrIdxObj.injectidx = nEAIT; \nSnSrIdxObj.Uinst = nURMS1; \nSnSrIdxObj.PuisRef = nPREF; \nSnSrIdxObj.PuisInst = Math.max(nSINSTS, nSINSTI); \nSnSrIdxObj.nPRM = nPRM; \n\nflow.set('SnSrIdxObj',SnSrIdxObj);\nglobal.set('SnSrGlobalIdx',SnSrIdxObj);\n\n\n//SnSrObj.timenow = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\n//SnSrObj.tarif = LTARF; SnSrObj.SoutirIdx = nEAST; SnSrObj.InjectIdx = nEAIT; SnSrObj.Uinst = nURMS1; SnSrObj.PuisRef = nPREF; SnSrObj.PuisInst = nSINSTS; SnSrObj.nPRM = nPRM; \n//SnSrIdx [0] = SnSrObj.timenow; \n//SnSrIdx [1] = nEAST;\n//SnSrIdx [2] = nEAIT;\n//flow.set('SnSrIdx', SnSrIdx);\n//msg.SnSrObj = SnSrObj;\n\nmsg.SnSrIdxObj = SnSrIdxObj;\n\nvar annee = SnSrIdxObj.TICtime.getFullYear();\nvar mois = SnSrIdxObj.TICtime.getMonth();\nvar moisTab = new Array('Jan.', 'Fév.', 'Mar.', 'Avr.', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.');\nvar j = SnSrIdxObj.TICtime.getDate();\nvar h = SnSrIdxObj.TICtime.getHours();\nvar m = SnSrIdxObj.TICtime.getMinutes();\nif(h<10){ h = \"0\"+h;}\nif(m<10){ m = \"0\"+m;}\n\nmsg0.payload = (\" \" + j + \" \" + moisTab[mois] + \" \" + annee + \" - \" + h + \" : \" + m) || 'init';\n\n//msg0.payload = [ADSC,DATE_label,DATE,LTARF,nEAST,nEAIT,nURMS1,nPREF,nSINSTS,nPRM];\nmsg1.payload = SnSrIdxObj.Uinst;\nmsg1.topic = 'tension'\nmsg2.payload = SnSrIdxObj.PuisInst;\nmsg2.topic = 'puissance'\nmsg3.payload = (SnSrIdxObj.soutiridx/1000).toFixed(2); // Math.round(SnSrIdxObj.soutiridx/100)/10; //arrondi au kWh avec 1 digit //nEAST.toString().substring(2)/1000;\nmsg3.topic = 'SoutirIdx'\nmsg4.payload = (SnSrIdxObj.injectidx/1000).toFixed(2); // Math.round(SnSrIdxObj.injectidx/100)/10; //arrondi au kWh avec 1 digit //nEAIT.toString().substring(2)/1000;\nmsg4.topic = 'InjectIdx'\nif (isNaN(nEAIT)) {msg4.payload ='LINKY_HS';}\n\nreturn [msg0, msg1, msg2, msg3, msg4];\n","outputs":5,"noerr":0,"x":820,"y":380,"wires":[["4bce8f98.4348d","e2ee0ffe.de965"],["d95005c4.b8fcc8"],["e3f58368.13a3d8"],["aa7383f3.4b1598"],["148b2169.49d4bf"]]},{"id":"79684e74.f8a8","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":320,"wires":[]},{"id":"58d4c8a3.c49c88","type":"function","z":"60b1046f.48a20c","name":"IMPserie","func":"if (msg.payload == 'TIC') {return;}\n\nvar msg1 = {};\nvar msg3 = {};\n\nvar timeNow = new Date();\n//var SnSrIdx = flow.get('SnSrIdx');\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\"); // /20200127 - RED.util.cloneMessage(flow.get('SnSrIdxObj'));\n\nSnSrIdxObj.IMPstamp = timeNow.getTime(); //SnSrIdx[3]\nSnSrIdxObj.IMPtime = timeNow; //SnSrIdx[3]\n\n// SnSrIdxObj.prodidx = Math.round(msg.count); // Pour une valeur avec le node counter et InitValue >> 0 \nSnSrIdxObj.prodidx += 0.5; // Incrémentation 0,5 car 2 msg par impulsion  montee/descente\nflow.set ('SnSrIdxObj', SnSrIdxObj); //flow.set('SnSrIdx', SnSrIdx);\n\nmsg1.payload = (SnSrIdxObj.prodidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // lProdIdx.toString().substring(2)/1000;\nmsg1.topic=\"ProdIdx\";\nmsg1.timenow = timeNow;\n\n// TIMESTAMP YYYYMMDDhhmmss\n\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\nmsg3.timenow = timeNow;\nmsg3.payload = [timeString, SnSrIdxObj.prodidx, timeNow];\nmsg3.topic=\"IMP15\";\n\nreturn [msg1, msg3];","outputs":2,"noerr":0,"x":640,"y":440,"wires":[["4d1bb7ab.caeb48","8711677c.c9edf"],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"56d05fce.b2e688","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"60","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1320,"y":120,"wires":[[]]},{"id":"4d1bb7ab.caeb48","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1017.9999389648438,"y":481,"wires":[["9f2cb579.24e91"]]},{"id":"aa7383f3.4b1598","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1017.9999389648438,"y":441,"wires":[["731e2506.61c4ec"]]},{"id":"450f197d.194808","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timenow","x":710,"y":340,"wires":[]},{"id":"8d9b2901.932378","type":"function","z":"60b1046f.48a20c","name":"flow & global init","func":"//global.set (\"gAUTOC30\", null);\n//global.set (\"gAutoC30\", null);\n//global.set (\"gProd30\", null);\n//global.set (\"gInject30\", null);\n//global.set (\"gProdIdx\", null);\n//global.set (\"gSoutir30\", null);\n//global.set (\"gmsg\", null);\n//global.set (\"pTimeStamp\", null);\n//flow.set (\"TICflow\", null);\n//flow.set (\"PROD15\", null);\n\n// TIMESTAMP YYYYMMDDhhmmss\nvar timeNow = new Date(msg.payload);\n\n//var exdate = new Date(timeNow.getTime() - 24*60*60*1000); //la veille\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1; // getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\n//minutes pour le prochain TIC15\n//var minutes2 = (Math.round(minutes/15)+1)*15-15;\n\n//flow.set (\"TIC15\", ['TIMESTAMP', 6999999, 6999999, minutes2, 99, 99, 99, 99]);\n//flow.set (\"IMP15\", ['TIMESTAMP', 6999999, minutes2, 0, 0]);\n//flow.set (\"SnSrFlow\", ['TIMESTAMP', null, null, null, null, null, null, null, null, null]);\n//flow.set (\"SimulIdx\", [timeNow, 6999999, 6999999, 6999999, 6999999, timeNow, 6999999, 6999999]); //soutir, inject, prod, autoconso\n//flow.set (\"membre\", ['pseudo', 021675051387, 14282923268426, 6, 'BASE', 3]);\n//flow.set (\"SnSrHier\", [exdate, '1er jour', '1er jour', '1er jour', '1er jour', '1er jour', 6999999, 6999999, 6999999]);\nflow.set (\"SnSrCoin\", [9, 0, timeNow.getFullYear()]);\n//flow.set (\"SnSrIdx\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n//flow.set (\"SnSr15\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n//flow.set (\"SnSrStack\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":6999999,\"injectidx\":6999999,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\n\nvar SnSrIdxObj = {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":null,\"injectidx\":null,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":null, \"consoIMPidx\" : 99999};\nflow.set (\"SnSrIdxObj\", SnSrIdxObj);\n\nflow.set (\"SnSr15Simul\", {\"timestamp\":timeNow.getTime(),\"prodmoyidx\":null,\"prodmaxidx\":null});\nflow.set (\"membre\", {\"pseudo\":'pseudo', \"id\":'00x00Aa', \"ADSC\":021675051387, \"PDL\":14282923268426, \"Psoutir\":6, \"profil\":'BASE',\"Pprod\":3, \"Productible\":1200, 'ProdCorrec': 0.5, 'ConsoObjAnnuel': 3*1200}); //Pprod en kWc, productible en kWh/kWc pour Nantes\nflow.set (\"SnSrPurse\", {\"Tirelire\":999, \"erosion\":364/365, 'thisyear':timeNow.getFullYear()});\nflow.set (\"SnSrHier\", {\"yesterday\":timeNow, \"soutirhier\": null, \"injecthier\": null, \"autoconsohier\": null, \"consohier\": null, \"prodhier\": null, \"soutiridx\": null, \"injectidx\": null, \"prodidx\": null});\nflow.set (\"SnSrSimul\", {\"timestamp\":timeNow.getTime(),\"time\":timeNow,\"soutiridx\":6999999,\"injectidx\":6999999,\"prodidx\":6999999,\"autoconsoidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\n//flow.set (\"SnSrTab\", [timeNow.getTime(),6999999,6999999,6999999,6999999,6999999]);\nflow.set (\"SnSr15Obj\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":null,\"injectidx\":null,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":null, \"consoIMPidx\" : null});\nflow.set (\"onTime\", timeNow);\n\nvar SnSrIdxStore = [];\nfor (i=182; i>0; i--) \n    {SnSrIdxStore.push\n        ({  \"x\":timeNow.getTime() - i*15*60*1000, \n            \"prod\":300, \n            \"inject\":150, \n            \"soutir\":200, \n            \"conso\":450,\n        })\n    }\nflow.set(\"SnSrIdxStore\", SnSrIdxStore);\n\nvar data = [[],[],[]];\nfor (i=0; i<6; i++) \n        {data[0].push({\"x\": timeNow.getTime() - (2*(6-i))*3*60*60*1000, \n                     \"y\": 120\n                    });\n        data[0].push({\"x\": timeNow.getTime() - (2*(6-i)+1)*3*60*60*1000, \n                     \"y\": 120\n                    });\n        data[1].push({\"x\": timeNow.getTime() - (6-i)*3*3*60*60*1000,\n                     \"y\": 120\n                    });\n        data[1].push({\"x\": timeNow.getTime() - (((6-i)*3)-1)*3*60*60*1000,\n                     \"y\": 120\n                    });\n        data[1].push({\"x\": timeNow.getTime() - (((12-i)*3)-2)*3*60*60*1000,\n                     \"y\": 120\n                    });\n        data[2].push({\"x\": timeNow.getTime() + 2*i*3*60*60*1000,\n                     \"y\": 120\n                    });\n        data[2].push({\"x\": timeNow.getTime() + (2*i+1)*3*60*60*1000,\n                     \"y\": 120\n                    });\n        }\n\nvar SnSrForecast = \n    {\"series\": [\"production\", \"prevision\", \"prevision_\"],\n    \"data\": data,\n    \"labels\": [\"\",\"\",\"\"],\n    \"LastIdx\" : SnSrIdxObj,\n    \"init\" : {\"init\":\"demarrage\", \"timeNow\":timeNow.getTime()},\n    }\nflow.set(\"SnSrForecast\", SnSrForecast);\n\n\nmsg.payload='ok';\nreturn msg;","outputs":1,"noerr":2,"x":333,"y":280,"wires":[["aad1a4d8.9e2448"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"85788af1.409e38","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":280,"wires":[["8d9b2901.932378"]]},{"id":"76c09854.cc5fe8","type":"inject","z":"60b1046f.48a20c","name":"SIMULstamp","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"5","x":929.0000305175781,"y":99.00000762939453,"wires":[["a42fc27a.4acf08"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"69da1da8.87e44c","type":"inject","z":"60b1046f.48a20c","name":"Timestamp 3min","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":"25","x":150,"y":720,"wires":[["560d5d2b.5f9c8c"]]},{"id":"a58fac2f.9e2b7","type":"function","z":"60b1046f.48a20c","name":"SIMULtic","func":"\nif (msg.payload == 'IMPULSION') {return;}\n\n//var trame_tic = 'SE      \tFEAST\t006877052\t2EASF01\t006877052\tEEASF02\t000000000\t#EASF03\t000000000\t$EASF04\t000000000\t%EASF05\t000000000\t&EASF06\t000000000\t\\'EASF07\t000000000\t(EASF08\t000000000\t)EASF09\t000000000\t*EASF10\t000000000\t\"EASD01\t006877052\tCEASD02\t000000000\t!EASD03\t000000000\t\"EASD04\t000000000\t#IRMS1\t002\t0URMS1\t233\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\tUSMAXSN\tE181026220457\t02630\t;SMAXSN-1\tE181025112615\t02250\tRCCASN\tE181026223000\t00800\t9CCASN-1\tE181026220000\t01024\tSUMOY1\tE181026224000\t230\t*STGE\t002A0001\t9MSG1\t     PAS DE          MESSAGE    \t<PRM\t14282923268426\t<RELAIS\t000\tBNTARF\t01\tNNJOURF\t00\t&NJOURF+1\t00\tBPJOURF+1\t00008001 NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE\t9 ';\nvar trame_tic = ' #ADSC\t021675051387\t:VTIC\t02\tJDATE\tE181026224009\t\tANGTF\t      BASE      \t<LTARF\t      BASE      \tFEAST\t006999999\t2EASF01\t006999999\tEEASF02\t000000000\t#EASF03\t000000000\t$EASF04\t000000000\t%EASF05\t000000000\t&EASF06\t000000000\t&EASF07\t000000000\t(EASF08\t000000000\t)EASF09\t000000000\t*EASF10\t000000000\t\"EASD01\t006999999\tCEASD02\t000000000\t!EASD03\t000000000\t\"EASD04\t000000000\t\"EAIT\t006999999\t#IRMS1\t002\t0URMS1\t223\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\tUSMAXSN\tE181026220457\t02630\t;SMAXSN-1\tE181025112615\t02250\tRCCASN\tE181026223000\t00800\t9CCASN-1\tE181026220000\t01024\tSUMOY1\tE181026224000\t230\t*STGE\t002A0001\t9MSG1\t     PAS DE          MESSAGE    \t<PRM\t14282923268426\t<RELAIS\t000\tBNTARF\t01\tNNJOURF\t00\t&NJOURF+1\t00\tBPJOURF+1\t00008001 NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE\t9 ';\nmsg.topic = null;\n\n//flow.set (\"TIC15\", ['TIMESTAMP', 6877052, 99, minutes, 99, 99, 99, 99]);\n//flow.set (\"IMP15\", ['TIMESTAMP', 0, minutes, 0, 0]);\n//flow.set (\"SnSrFlow\", ['TIMESTAMP', null, null, null, null, null, null, null, null, null])\n\n//var TIC15 = flow.get(\"TIC15\");\n//var SimulIdx = flow.get(\"SimulIdx\");\nvar SnSrSimul = RED.util.cloneMessage(flow.get(\"SnSrSimul\"));\n\nvar rand = Math.random();\n\nvar tDATE=\"DATE\"\nvar lDATE=trame_tic.indexOf(\"DATE\");\nvar DATEdebut=trame_tic.substring(lDATE,lDATE+tDATE.length+1);\nvar DATEtout=trame_tic.substring(lDATE,lDATE+tDATE.length+1+13);\n\nvar tEAST=\"EAST\"\nvar lEAST=trame_tic.indexOf(\"EAST\");\nvar EASTdebut=trame_tic.substring(lEAST,lEAST+tEAST.length+1);\nvar EASTtout=trame_tic.substring(lEAST,lEAST+tEAST.length+1+9);\nvar EAST=trame_tic.substring(lEAST+tEAST.length+1, lEAST+tEAST.length+1+9);\nvar nEAST = parseInt(EAST, 10);\n\nvar tEAIT=\"EAIT\"\nvar lEAIT=trame_tic.indexOf(\"EAIT\");\nvar EAITdebut=trame_tic.substring(lEAIT,lEAIT+tEAIT.length+1);\nvar EAITtout=trame_tic.substring(lEAIT,lEAIT+tEAIT.length+1+9);\nvar EAIT=trame_tic.substring(lEAIT+tEAIT.length+1, lEAIT+tEAIT.length+1+9);\nvar nEAIT = parseInt(EAIT, 10);\n\nvar tURMS1=\"URMS1\"\nvar lURMS1=trame_tic.indexOf(\"URMS1\");\nvar URMS1=trame_tic.substring(lURMS1+tURMS1.length+1,lURMS1+tURMS1.length+1+3);\nvar nURMS1=parseInt(URMS1, 10);\nvar tPREF=\"PREF\"\nvar lPREF=trame_tic.indexOf(\"PREF\");\nvar PREF=trame_tic.substring(lPREF+tPREF.length+1,lPREF+tPREF.length+1+2);\nvar nPREF=parseInt(PREF, 10);\nvar tSINSTS=\"SINSTS\"\nvar lSINSTS=trame_tic.indexOf(\"SINSTS\");\nvar SINSTS=trame_tic.substring(lSINSTS+tSINSTS.length+1,lSINSTS+tSINSTS.length+1+5);\nvar nSINSTS=parseInt(SINSTS, 10);\nvar tPRM=\"PRM\"\nvar lPRM=trame_tic.indexOf(\"PRM\");\nvar PRM=trame_tic.substring(lPRM+tPRM.length+1,lPRM+tPRM.length+1+14);\n\n// LINKYSTAMP YYMMDDhhmmss\nvar timeNow = new Date(msg.timenow);\nvar annee = timeNow.getFullYear()-2000\nvar mois = timeNow.getMonth()+1 // getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate()\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\n\nvar LINKYDATE = DATEdebut + \"E\" + timeString ; // Date du jour au format LINKY\nnURMS1 = nURMS1 - 10 + Math.floor(20 * 2 *rand); // variation de +- 20v\n\nnSINSTS = Math.floor(nSINSTS * 2* rand);\nvar t2SINSTS = nSINSTS.toString();\nfor (i=t2SINSTS.length; i<5; i++)\n    {t2SINSTS = '0' + t2SINSTS;}\n\nnEAST = Math.round(SnSrSimul.soutiridx);//SimulIdx[1]);\nvar t2EAST = nEAST.toString();\nfor (i=t2EAST.length; i<9; i++)\n    {t2EAST = '0' + t2EAST;}\n\nnEAIT =  Math.round(SnSrSimul.injectidx);//SimulIdx[2]);\nvar t2EAIT = nEAIT.toString();\nfor (i=t2EAIT.length; i<9; i++)\n    {t2EAIT = '0' + t2EAIT;}\n\n\nvar TICdebut = trame_tic.substring(0, lDATE);\nvar DATEEAST = trame_tic.substring(lDATE+tDATE.length+1+13, lEAST+tEAST.length+1);\nvar EASTEAIT = trame_tic.substring(lEAST+tEAST.length+1+9, lEAIT+tEAIT.length+1);\nvar EAITSINSTS = \"\t#IRMS1\t002\t0URMS1\t\" + nURMS1 + \"\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t\"; \n// \"EASD04\t000000000\t\"EAIT\t695847123\t#IRMS1\t002\t0URMS1\t223\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\nvar SINSTSfin = trame_tic.substring(lSINSTS+tSINSTS.length+1+5, trame_tic.length);\n var LINKYEAST = EASTdebut + t2EAST.toString() ; // un mot\n// on peut aussi utiliser EASTdebut.concat(nEAST) (1 seul argument)\n\ntrame_tic = TICdebut + LINKYDATE + DATEEAST + t2EAST + EASTEAIT + t2EAIT + EAITSINSTS + t2SINSTS + SINSTSfin;\n\n//trame_tic.replace(EASTtout, LINKYEAST);\n//trame_tic.replace(LINKYDATE, DATEtout);\n\n\n// EStimation du surplus injecté ds le réseau\n//var hRAD = pi() / (hours - 12) // heure en radian ??\n//if ((hours <= 20) && (hours >= 6)) \n //   {nEAIT = nEAIT + 2 x Math.sin(hRAD);} // moyenne de 1\n\n// reconstruction de la trame TIC\nmsg.test = [LINKYDATE, PRM, t2EAIT];\nmsg.payload = trame_tic; //[DATEtout, LINKYDATE, EASTtout, LINKYEAST];\nreturn msg;\n","outputs":1,"noerr":0,"x":1280,"y":100,"wires":[[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"215bee19.14fe3a","type":"function","z":"60b1046f.48a20c","name":"TICtest","func":"\nvar test = msg.payload.indexOf(\"ADSC\");\nif ((test > 0) && (test < 10))\n    {msg.topic='TICok';\n    msg.timenow = new Date();\n    return msg;}\n    \n//msg.topic = msg.payload.substring(2,6);\n//if (msg.topic == 'ADSC')\n//    {msg.topic='TICok';\n //   return msg;} // sinon le signal TIC est mauvais....Pas de msg\n","outputs":1,"noerr":0,"x":633,"y":380,"wires":[["450f197d.194808","79684e74.f8a8","62b26cc0.198454"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"a42fc27a.4acf08","type":"function","z":"60b1046f.48a20c","name":"simul3index","func":"\n\n\n//Injection condiérée comme consommation ds un premier temps\n//Conso = 3 784 320 Wh/an -> 10 000 Wh/j dont 6 sur 06h-18h et 4 la nuit\n// Prod = 3650 kWh/an -> 10 000 Wh/j sur 06h-18h selon parabole\n//Il faudrait utiliser une variable globale pour la date depuis la derniere mesure\n// Par défaut, pas de 10s, plateau de 1Wh/10s la nuit et moyenne de 1,4 le jour\n\nvar msg1 = {};\nvar msg2 = {};\nvar membre = flow.get('membre');\n\n//******************************  SIMULATEUR AVEC TIMESTAMP ACCELERE  *******************************************//\n//Pour créer un simulateur, on recule d'un an et on accélérer le graphe x60 (1 minute correspond à une heure)\n//var onTime= flow.get(\"onTime\");//timestamp du démarrage de la machine\n//var timeNow = onTime.getTime() - 20*365*24*60*60*1000 + (msg.payload - onTime.getTime())*60 ; // // Recul de 20 ans dans le temps et accélération 1s = 1min => x60x15\n//****************************** FIN DU SIMULATEUR DE TIMESTAMP  *******************************************//\n\n\n\n//******************************  DECOMMENTER SI SIMULATEUR A TEMPS REEL  *******************************************//\nvar timeNow = msg.payload; // Ajouter pour décaler de 12h pour des tests\n//****************************** FIN DU SIMULATEUR DE TIMESTAMP  *******************************************//\n\n\ntimeNow = new Date(timeNow);// au format date\nmsg.timenow = timeNow.getTime(); //timestamp\n\n//var SimulIdx = flow.get(\"SimulIdx\");\n//var TAB = [msg.timenow, 0, 0, 0, 0, timeNow]; // timeNow, soutir, inject, prod, autoconso\n\nvar SnSrSimul= flow.get(\"SnSrSimul\");\n\nvar conso = 0;\nvar soutir = 0;\nvar inject = 0;\nvar prod = 0;\nvar autoconso = 0;\n\nvar rand = Math.random()/5; //moyenne 0,1\nvar rand1 = Math.round(Math.random()); // 0 ou 1 \n\nvar puis = 3; // puissance de l'onduleur en kWc\nvar productible = 1200; // productible en kWh/kWc\n// prod en parabole\n// puis(kWca) x 1000/2,3955 x (-1 x ((hours-12)/6)^2 + 1)\n// mettre la variable dans msg.count comme le node impulsion\n\n// TIMESTAMP YYYYMMDDhhmmss\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours  = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar secondes = timeNow.getSeconds();\n\n// Table des paramètres solaires des jours et d'énergie\n// Pour chaque mois : Nojour, date21, lever, coucher, facteur de production (CS de ENEDIS dans profil PRD3)\n// source : http://calendriersolaire.com/fr/paris\n\nvar SunCal = [];\nSunCal.push([355,'20181221','084123','165620',0.294]);// SunCal[0] = SunCal[12]\nSunCal.push([21,'20180121','083301','173100',0.388]);// SunCal[1]\nSunCal.push([52,'20180221','074648','182127',0.758]);// SunCal[2]\nSunCal.push([80,'20180321','065008','190508',1.054]);// SunCal[3]\nSunCal.push([111,'20180421','064703','205123',1.3]);// SunCal[4]\nSunCal.push([141,'20180521','060050','213335',1.476]);// SunCal[5]\nSunCal.push([172,'20180621','054659','215758',1.576]);// SunCal[6]\nSunCal.push([202,'20180721','0601032','214333',1.541]);// SunCal[7]\nSunCal.push([233,'20180821','065224','205452',1.352]);// SunCal[8]\nSunCal.push([264,'20180921','073618','195045',1.107]);// SunCal[9]\nSunCal.push([294,'20181021','082049','184929',0.768]);// SunCal[10]\nSunCal.push([325,'20181121','080920','170347',0.392]);// SunCal[11]\nSunCal.push([355,'20181221','084123','165620',0.294]);// SunCal[12]\nSunCal.push([386,'20180121','083301','173100',0.388]);// SunCal[13] = SunCal[1]\n\n// mois - 1 car la fonction prends des mois de 0 a 11\nvar LeverSoleil = new Date(annee, mois-1, jour, parseInt(SunCal[mois][2].substring(0,2)), parseInt(SunCal[mois][2].substring(2,4)), parseInt(SunCal[mois][2].substring(4,6)));\nvar CoucherSoleil = new Date(annee, mois-1, jour, parseInt(SunCal[mois][3].substring(0,2)), parseInt(SunCal[mois][3].substring(2,4)), parseInt(SunCal[mois][3].substring(4,6)));\n\nif (jour < 21) {var mois2 = mois - 1;}\n    else {var mois2 = mois + 1;}\nif (mois2 == 13) {mois2= 1;}\nif (mois2 === 0) {mois2= 12;}\n\n//var LeverSoleil2 = new Date(annee, mois2-1, jour, parseInt(SunCal[mois2][2].substring(0,2)), parseInt(SunCal[mois2][2].substring(2,4)), parseInt(SunCal[mois2][2].substring(4,6)));\n//var CoucherSoleil2 = new Date(annee, mois2-1, jour, parseInt(SunCal[mois2][3].substring(0,2)), parseInt(SunCal[mois2][3].substring(2,4)), parseInt(SunCal[mois2][3].substring(4,6)));\n\nvar dateNow = timeNow.getTime();\nvar millidate = SnSrSimul.timestamp; //SimulIdx[0]; \n\nif ((hours < 6 ) || (hours > 18))\n    { conso = ((dateNow - millidate)/1000)*rand;} //1 Wh pour 10s la nuit\n    else { conso = ((dateNow - millidate)/1000) * 0.28 * (rand+rand1);}// moyenne de + 1,4 Wh / 10s le jour\n\n//***** PRODUCTION enveloppe pour un jour type\n// centrés sur 13h00, prodmoy (CS=1, jour de 12h) et prodmax (CS = Pprod en kWc, jour de 14h)\n//A vérifier : decalage horaire avec GMT ??\nvar prodmoy = Math.max((((dateNow - millidate)/(1000*60*60)) * (puis/2 * puis * 1000/2.3955 * (-1 * (Math.pow(((((hours*60+minutes)/60)-13)/7),2)) + 1))), 0);\nvar prodmax = Math.max((((dateNow - millidate)/(1000*60*60)) * (puis * puis * 1000/2.3955 * (-1 * (Math.pow(((((hours*60+minutes)/60)-13)/7),2)) + 1))), 0);\n\n//*****FORMULE ADAPTEE AU PROFIL ENEDIS => PRENDS EN COMPTE SunCal\n// Interpolation linéaire approximative entre 2 dates pour former le graphique\n\nvar CS = SunCal[mois][4];\nvar CS2 = SunCal[mois2][4];\n\nCS = CS + ((21-jour)*(CS-CS2)/Math.abs(SunCal[mois2][0] - SunCal[mois][0]));\n\n//17Avril2019 timeNow.getTime\nvar Jour100 = Math.round(100*(timeNow.getTime() - LeverSoleil.getTime())/(CoucherSoleil.getTime() - LeverSoleil.getTime()));\nvar parabole = 1 + (-1 * (Math.pow(((Jour100-50)/50 ), 2))); // parabole <0 LA NUIT avant et après le coucher du soleil\nvar facteurX = 3047.380505; //facteur  arbitraire sans unité calculé à partir de la prod moyenne d'une journee \n\nvar facteurP = puis * productible * facteurX /(365*24); // facteur de puissance sans unité\nvar DeltaT = (dateNow - millidate)/(1000*60*60); //durée en fraction d'heure pour calculer des kWh par la suite => vaut env. 4000/(1000*60*60) à 15000/(1000*60*60)\nprod = Math.max((DeltaT * facteurP * parabole * CS), 0); // 0 avant et après le coucher du soleil car parabole <0 la nuit\n\n//evacuer les valeur abérentes (inititalisation);\nif (Math.abs(prod) > membre.Pprod*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(soutir) > membre.Psoutir*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(inject) > membre.Pprod*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(conso) > membre.Psoutir*1000){prod = 0; soutir = 0;inject = 0;conso = 0;}\n\n// Calcul des variables de la courbe à afficher\n\nif (prod <= 0) // LA NUIT\n    {prod = 0;\n    autoconso = 0;\n    inject = 0;\n    soutir = conso;\n    }\n    else {if (prod < conso) \n            {soutir = conso - prod;\n            inject = 0;\n            autoconso = prod;\n            }\n            else  // prod > conso CAS GENERAL\n            {soutir = 0;\n            autoconso =  conso;\n            inject = prod - conso;\n            }\n        }\n\n\n // on peut aussi utiliser EASTdebut.concat(nEAST) (1 seul argument)\n\n//TAB = [msg.timenow, SimulIdx[1] + soutir, SimulIdx[2] + inject, SimulIdx[3] + prod, SimulIdx[4] + autoconso, timeNow, SimulIdx[6] + prodmoy, SimulIdx[7] + prodmax];\n//flow.set (\"SnSrSimul\", {\"timestamp\": timeNow.getTime(),\"time\":timeNow, \"soutiridx\": soutiridx + soutir, \"injectidx\": injectidx + inject, \"prodidx\": prodidx + prod, \"autoconsoidx\": autoconsoidx + autoconso, \"prodmoyidx\": prodmoyidx + prodmoy, \"prodmaxidx\": prodmaxidx + prodmax});\n\nSnSrSimul.timestamp = timeNow.getTime();\nSnSrSimul.time = timeNow;\nSnSrSimul.soutiridx = SnSrSimul.soutiridx + soutir;\nSnSrSimul.injectidx = SnSrSimul.injectidx + inject;\nSnSrSimul.prodidx = SnSrSimul.prodidx + prod;\nSnSrSimul.autoconsoidx = SnSrSimul.autoconsoidx + autoconso;\nSnSrSimul.prodmoyidx = SnSrSimul.prodmoyidx + prodmoy;\nSnSrSimul.prodmaxidx = SnSrSimul.prodmaxidx + prodmax;\n\n//flow.set(\"SimulIdx\", TAB);\nflow.set(\"SnSrSimul\", SnSrSimul);\nmsg2.SnSrSimul = SnSrSimul;\nmsg2.payload = 'SIMUL';\nmsg2.count = SnSrSimul.prodidx;\nmsg2.tab=[msg.timenow, soutir, inject, prod, autoconso, timeNow, conso, DeltaT, facteurP, parabole];\nmsg2.timenow = msg.timenow;\n   \nreturn msg2;\n\n","outputs":1,"noerr":0,"x":1110,"y":100,"wires":[["a58fac2f.9e2b7","56d05fce.b2e688","75549d1a.e1f1ec"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"8cc311f8.8162c","type":"function","z":"60b1046f.48a20c","name":"JourneeHIER","func":"//Passer le tableau en objet pour les graphs et la BDD\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n// msg3, msg4, msg5, msg6, msg7, msg8, msg9  = new Object ();\nvar SnSrHier=flow.get(\"SnSrHier\");\nvar SnSrCoin=flow.get(\"SnSrCoin\");\nvar yesterday = new Date(SnSrHier.yesterday);\nvar membre=flow.get(\"membre\");\n\n\nif ((SnSrHier.soutiridx === null) && (SnSrHier.injectidx === null) && (SnSrHier.prodidx === null))  //Correspond à l'inititalisation\n        {var SnSrIdxObj = flow.get(\"SnSrIdxObj\");\n        SnSrHier.soutiridx = SnSrIdxObj.soutiridx;\n        SnSrHier.injectidx = SnSrIdxObj.injectidx;\n        SnSrHier.prodidx = SnSrIdxObj.prodidx;\n        flow.set(\"SnSrHier\",SnSrHier);\n    }\n        \n//Transmission des éléments pour le bilan de la veille\nmsg0.topic = 'TimeStampHier';\nmsg0.measurement = 'TimeStampHier';\nmsg0.retentionPolicy = '30d';\nmsg0.payload = yesterday.toLocaleDateString() || 'init';\nmsg1.topic = 'SoutirageHier';\nmsg1.measurement = 'SoutirageHier';\nmsg1.retentionPolicy = '30d';\nmsg1.payload = Math.round(SnSrHier.soutirhier/100)/10 || 'init';\nmsg2.topic = 'InjectionHier';\nmsg2.measurement = 'InjectionHier';\nmsg2.retentionPolicy = '30d';\nmsg2.payload = Math.round(SnSrHier.injecthier/100)/10 || 'init';\nmsg3.topic = 'AutoconsoHier';\nmsg3.measurement = 'AutoconsoHier';\nmsg3.retentionPolicy = '30d';\nmsg3.payload = Math.round(SnSrHier.autoconsohier/100)/10 || 'init';\nmsg4.topic = 'ProductionHier';\nmsg4.measurement = 'ProductionHier';\nmsg4.retentionPolicy = '30d';\nmsg4.payload = Math.round(SnSrHier.prodhier/100)/10|| 'init';\nmsg5.topic = 'SnSrCoin';\nmsg5.measurement = 'SnSrCoin';\nmsg5.retentionPolicy = '30d';\nmsg5.payload = SnSrCoin;\n\nvar objectif = membre.ConsoObjAnnuel *1000 / 365; // en Wh\nvar max = Math.round(Math.max((objectif - SnSrHier.soutirhier - SnSrHier.autoconsohier)/1000, 0));\nif (max === 0) {max = null;}\nvar max2 = Math.round(Math.max((SnSrHier.soutirhier + SnSrHier.autoconsohier - SnSrHier.injecthier)/1000, 0));\nif (max2 === 0) {max2 = null;}\n\nvar msg6 ={};\nmsg6.payload = //Graph donut double de nodered dashboard, pas de transparence\n    [{\n    \"series\": [ \"exterieur\", \"interieur\", \"centre2\", \"centre1\"],\n    \"data\": [ \n             [null,null,Math.round(SnSrHier.injecthier/100)/10,max2, max], \n             [Math.round(SnSrHier.autoconsohier/100)/10,Math.round(SnSrHier.soutirhier/100)/10,null,null,max],\n             [], \n             [] \n            ],\n    \"labels\": [ \"autoconso\", \"soutirage\", \"injection\", '__', '☺'],\n    }];\n\nvar msg7 ={}; \nmsg7.payload =  //Graph donut simple de nodered dashboard, pas de transparence\n    [{\n    \"series\": [ \"exterieur\", \"centre\"],\n    \"data\": [ [(Math.round(SnSrHier.injecthier/100)/10+Math.round(SnSrHier.autoconsohier/100)/10),(Math.round(SnSrHier.soutirhier/100)/10 + Math.round(SnSrHier.autoconsohier/100)/10)], [], [] ],\n    \"labels\": [ \"production\", \"consommation\" ],\n    }];\n\nvar msg8 ={};\nmsg8.payload =  // Valeurs du double donought chart.js\n        [   [Math.round(SnSrHier.injecthier/100)/10,null,null,max2,max], //[inject,0,0,reste,eco],\n            [null,(Math.round(SnSrHier.autoconsohier/100)/10),Math.round(SnSrHier.soutirhier/100)/10,null,max], // [null, autoconso, soutir, 0, eco],\n            [ \"injection\", \"autoconso\", \"soutirage\", '--', '☺'],\n        ];\n\nif ((SnSrHier.soutirhier === null) || (SnSrHier.soutirhier === 0))// Boucle pour produire un graph le 1er jour\n    {   msg8.payload = // Valeurs du double donought chart.js\n            [   [1,null,null,max2,max], //[inject,0,0,reste,eco],\n                [null,1,2,null,max], // [null, autoconso, soutir, 0, eco],\n                ['1er jour', '1er jour.', '1er jour', '--', '☺'],\n            ];\n            \n        msg7.payload =  //Graph donut simple de nodered dashboard, pas de transparence\n            [{   \"series\": [ \"exterieur\", \"centre\"],\n                 \"data\": [ [2,3], [], [] ],\n                 \"labels\": [ \"1er jour\", \"1er jour\" ],\n            }];\n    }\n\n//Cas particulier du 1er jour\n//var Dt = new Date().getTime()-yesterday.getTime(); // ERREUR : tj < 24h\n//if (Dt < 24*60*60*1000) \n//    {SnSrHier.soutirhier = \"1er jour\";\n//    SnSrHier.injecthier = \"1er jour\";\n//    SnSrHier.autoconsohier = \"1er jour\";\n//    SnSrHier.consohier = \"1er jour\";\n//    flow.set('SnSrHier', SnSrHier);\n//    msg1.payload = \"1er jour\";\n//    msg2.payload = \"1er jour\";\n//    msg3.payload = \"1er jour\";\n//    msg4.payload = \"1er jour\";\n//    }\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8] ;\n","outputs":9,"noerr":0,"x":826,"y":668,"wires":[["36e6aac7.84af36","f8098f04.227d7"],["cd9b95bc.41fe6","f8098f04.227d7"],["2a9e4682.b22a42","f8098f04.227d7"],["ccea1629.c4407","f8098f04.227d7"],["e41526af.cbaa8","f8098f04.227d7"],["72bec5a4.fbbaac"],["2e07e279.7d770e","f8098f04.227d7"],["120e603a.f33058"],["2d2c04e6.07f2cc"]]},{"id":"9e904b56.e23c6","type":"function","z":"60b1046f.48a20c","name":"SnSr15","func":"\n//jaune #FCFC44 // bleu #1F77B4 // orange #EB7B16 // vert clair #98DF8A // gris #848585 // vert foncé #17A822\n\nvar SnSrIdxObj = RED.util.cloneMessage(flow.get(\"SnSrIdxObj\"));\n//var SnSrTab = flow.get('SnSrTab');\nvar SnSr15Obj = flow.get(\"SnSr15Obj\");\n//var consoIMPidx= flow.get(\"consoIMPidx\");\nvar membre = flow.get('membre');\nvar alarm = 'aucune erreur'\n\n//var SnSrTab = [];\n//SnSrTab[0] = SnSrIdxObj.TICstamp;\n//SnSrTab[1] = SnSrIdxObj.soutiridx;\n//SnSrTab[2] = SnSrIdxObj.injectidx;\n//SnSrTab[3] = SnSrIdxObj.prodidx;\n//SnSrTab[4] = Math.round(SnSrSimul.prodmoyidx);\n//SnSrTab[5] = Math.round(SnSrSimul.prodmaxidx);\n//flow.set('SnSrTab', SnSrTab);\n\nvar soutir = (SnSrIdxObj.soutiridx - SnSr15Obj.soutiridx) || 0;\nvar inject = (SnSrIdxObj.injectidx -  SnSr15Obj.injectidx)  || 0; \nvar prod = (SnSrIdxObj.prodidx - SnSr15Obj.prodidx)  || 0; \nvar consoIMP = (SnSrIdxObj.consoIMPidx - SnSr15Obj.consoIMPidx) || 0;\nvar deltaTtic = (SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp);\nvar deltaTimp = (SnSrIdxObj.IMPstamp - SnSr15Obj.IMPstamp);\n\nvar Debug15 = {\"soutir\":soutir, \"inject\":inject, \"prod\":prod, \"conso\":'init',\"autoconso\":'init', \"Pprod\":membre.Pprod, \"Psoutir\":membre.Psoutir};\n//evacuer les valeur abérentes (inititalisation);\nif ((prod < 0) || (Math.abs(prod) > membre.Pprod*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif ((soutir < 0) || (Math.abs(soutir) > membre.Psoutir*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif ((inject < 0) || (Math.abs(inject) > membre.Pprod*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif ((consoIMP < 0) || (Math.abs(consoIMP) > membre.Psoutir*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\n\n// Cas ou LINKY ne remonte pas l'injection, 2e compteur à impulsion\n// On reconstitue un index d'injection à partir de la consommation totale\nif (isNaN(SnSrIdxObj.injectidx))  // && soutir === 0 // LINKY non fonctionnel et journée : soutir = 0 => inject > 0 // (typeof SnSrIdxObj.injectidx != \"number\") \n    {inject = Math.max((prod - consoIMP),0);\n    SnSrIdxObj.injectidx = SnSr15Obj.injectidx + inject;\n    }\n    \n// CAS GENERAL : LINKY fonctionnel remonte injectidx ou soutir > 0 (la nuit)\nvar autoconso = -1 * (prod - inject) || 0; // A VERIFIER cas prod faible (< conso), autoconso != 0\nvar conso = soutir - autoconso; // autoconso < 0\nif ((autoconso > 0) || (Math.abs(autoconso) > membre.Pprod*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0; autoconso = 0}\nif ((conso < 0) || (Math.abs(conso) > membre.Psoutir*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0; autoconso = 0}\n\n\nflow.set('SnSr15Obj', SnSrIdxObj);\n\nsoutir = Math.round(1000*60*60*(soutir/deltaTtic)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\ninject = Math.round(1000*60*60*(inject/deltaTtic)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nprod = Math.round(1000*60*60*(prod/deltaTimp)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n//var consoIMP = Math.round(1000*60*60*(inject/(SnSrIdxObj.stamp - SnSr15Obj.TICstamp))); // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nautoconso = Math.round(1000*60*60*(autoconso/deltaTtic)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nconso = Math.round(1000*60*60*(conso/deltaTtic)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n\nDebug15.autoconso = autoconso; Debug15.conso = conso; \n\nif ((prod === 0) && (inject > 0))\n    {alarm = 'Erreur IMPULSION'}\nif ((soutir < 0) || (inject < 0))\n    {alarm = 'Erreur TIC'}\nif ((prod === 0) && (inject === 0))\n    {alarm = 'PAS DE Production'}\n\nvar msg0={}; var msg1={}; var msg2={}; var msg3={}; var msg4={}; var msg5={}; var msg6={};\nmsg0.payload = conso;\nmsg0.topic = 'consoCALC';\nmsg1.payload = prod;\nmsg1.topic = 'prod';\nmsg2.payload = inject;\nmsg2.topic = 'inject';\nmsg3.payload = soutir;\nmsg3.topic = 'soutir';\nmsg4.payload = autoconso;\nmsg4.topic = 'autoconso';\nmsg5.payload = SnSrIdxObj;\nmsg5.topic = 'SnSrIdxObj';\nmsg6.payload = consoIMP;\nmsg6.topic = 'consoIMP';\nmsg6.debug = Debug15;\n\nvar msg7 = {'payload' :\n                {  \"x\":new Date((SnSrIdxObj.TICstamp + SnSr15Obj.TICstamp)/2).getTime(), \n                    \"prod\":prod, \n                    \"inject\":inject, \n                    \"soutir\":soutir, \n                    \"conso\":conso,\n                    \"autoconso\":autoconso,\n                },\n            'ConsoObjAnnuel' : membre.ConsoObjAnnuel,\n            };\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7];","outputs":8,"noerr":0,"x":740,"y":820,"wires":[["56b707ea.485418"],["56b707ea.485418"],["b42e7b24.3f3388"],["b42e7b24.3f3388"],["b42e7b24.3f3388"],["ee1d3479.ae6158"],[],["7af66000.40ea9","76dea550.349074"]]},{"id":"148b2169.49d4bf","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1017.9999389648438,"y":461,"wires":[["910987be.0538b8"]]},{"id":"71dcf80e.7aa378","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":669,"y":668,"wires":[["8cc311f8.8162c"]]},{"id":"9439e777.7f37a","type":"function","z":"60b1046f.48a20c","name":"INFLUX","func":"//Passer le tableau en objet pour les graphs et la BDD\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n// msg3, msg4, msg5, msg6, msg7, msg8, msg9  = new Object ();\nvar SnSrIdxObj = flow.get('SnSrIdxObj');  //Au choix avec SnSrTab\nvar SnSrSimul = flow.get('SnSrSimul');\nvar membre = flow.get('membre');\n\nmsg.topic = SnSrIdxObj.TICtime;   //Au choix avec SnSrTab \nmsg.payload = \n    [{\n        measurement: \"soutiridx\",\n        fields:{soutiridx: SnSrIdxObj.soutiridx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n     {\n        measurement: \"injectidx\",\n        fields:{injectidx: SnSrIdxObj.injectidx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n     {\n        measurement: \"prodidx\",\n        fields:{prodidx: SnSrIdxObj.prodidx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n    {\n        measurement: \"autoconsoidx\",\n        fields:{autoconsoidx: Math.min((-1 * (SnSrIdxObj.prodidx - SnSrIdxObj.injectidx)), 0)},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    }]\n    \nreturn msg;\n // msg.payload = \n//{ tstamp: stamp2,\n // data: {\n //   Soutir15 : SnSrFlow2[3],\n \n //    Inject15 : SnSrFlow2[4],\n //   Prod15 : SnSrFlow2[8]\n   //   }\n\n\n//return [msg0, msg1, msg2, msg3, msg4, msg5] ;\n","outputs":6,"noerr":0,"x":790,"y":612,"wires":[["642e4ad4.8cb7b4"],[],[],[],[],[]]},{"id":"1adf0c0a.b9a27c","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":658,"y":611,"wires":[["9439e777.7f37a"]]},{"id":"642e4ad4.8cb7b4","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":580,"wires":[]},{"id":"4bce8f98.4348d","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":968.9999389648438,"y":328.0000305175781,"wires":[]},{"id":"ee1d3479.ae6158","type":"function","z":"60b1046f.48a20c","name":"ChgtDate","func":"var SnSrIdxObj = msg.payload;\n\nvar timeNow =  new Date(SnSrIdxObj.TICstamp);  // déjà  au format Date en ms\nvar membre = flow.get(\"membre\");\nvar hours  = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar thisdate = timeNow.getDate();\nvar thisyear  = timeNow.getFullYear();\n\nvar SnSrPurse = flow.get('SnSrPurse');\n\n//Changement de jour, total journalier\n\nif (hours == 23) // mis a jour 4 fois pendant la derniere heure du jour\n    {var SnSrHier = RED.util.cloneMessage(flow.get('SnSrHier'));\n     var yesterday = new Date(SnSrHier.yesterday);\n     var exyear = yesterday.getFullYear();\n     var exdate = yesterday.getDate();\n     var soutirj = SnSrHier.soutirhier; \n     var injectj = SnSrHier.injecthier;\n     var autoconsoj = SnSrHier.autoconsohier;\n     var consoj = SnSrHier.consohier;\n     var prodj = SnSrHier.prodhier;\n      \n     if (exdate != thisdate) // seulement au premier passage\n         {  autoconsoj = 0;\n            soutirj = 0; \n            injectj = 0;\n            prodj = 0;\n            SnSrPurse.Tirelire *=  Math.round(SnSrPurse.erosion); //Erosion de la Tirelire\n         }\n        \n     // soutirage, injection, autoconsommation, consommation, production\n     autoconsoj = autoconsoj + (SnSrIdxObj.prodidx - SnSrHier.prodidx) - (SnSrIdxObj.injectidx - SnSrHier.injectidx);\n     soutirj = soutirj + (SnSrIdxObj.soutiridx - SnSrHier.soutiridx);\n     injectj = injectj + (SnSrIdxObj.injectidx -  SnSrHier.injectidx);\n     prodj =  prodj + (SnSrIdxObj.prodidx - SnSrHier.prodidx);\n         \n     //evacuer les valeur abérentes (inititalisation);\n     if (Math.abs(prodj) > membre.Pprod*1000*24) {prodj = null; soutirj = null;injectj = null;consoj = null;}\n     if (Math.abs(soutirj) > membre.Psoutir*1000*24) {prodj = null; soutirj = null;injectj = null;consoj = null;}\n     if (Math.abs(injectj) > membre.Pprod*1000*24) {prodj = null; soutirj = null;injectj = null;consoj = null;}\n     if (Math.abs(consoj) > membre.Psoutir*1000*24){prodj = null; soutirj = null;injectj = null;consoj = null;}\n         \n     SnSrHier.yesterday = timeNow.getTime();\n     SnSrHier.soutirhier = soutirj; //soutir\n     SnSrHier.injecthier = injectj; //inject\n     SnSrHier.autoconsohier = prodj - injectj; //autoconso\n     SnSrHier.consohier = soutirj + prodj - injectj; //conso\n     SnSrHier.prodhier = prodj;  //prod\n     SnSrHier.soutiridx = SnSrIdxObj.soutiridx; //SoutirIdx\n     SnSrHier.injectidx = SnSrIdxObj.injectidx; //InjectIdx\n     SnSrHier.prodidx = SnSrIdxObj.prodidx; //ProdIdx\n      \n     flow.set('SnSrHier', SnSrHier);\n      \n     var SnSrCoin = flow.get('SnSrCoin');\n     \n     var SnSrPile = injectj - soutirj || 0 ;\n     SnSrCoin[1] += Math.round(SnSrPile/1000);\n     SnSrPurse.Tirelire += Math.round(SnSrPile/1000); \n     flow.set('SnSrCoin', SnSrCoin);\n     flow.set('SnSrPurse', SnSrPurse);\n\n     \n     // changement d'année, remise a 0 à 23:00 le 01 janvier\n     if ((exyear +1) == thisyear) \n        {flow.set('SnSrCoin', [SnSrCoin[1], 0, thisyear]);\n        }\n    }\n\nvar waveColor = 'rgba(245,207,91,0.55)';\nif (SnSrPurse.Tirelire <(membre.Productible * membre.Pprod /10))\n    {wavecolor = 'red';}\n\nvar GaugeOptions = {\n     'circleColor': 'rgba(0,0,0,0.05)',\n     'textColor': 'rgba(0,0,0,0.9)',\n     \"waveColor\" : waveColor,\n     \"waveTextColor\" : '#805615',\n\n    //\"circleColor\" : \"#E6B82C\",\n    // \"textColor\" : \"#000000\",\n    // \"waveTextColor\" : \"#805615\",\n    // \"waveColor\" : \"#E6B82C\",\n     \"circleThickness\" : 0.01,\n     \"circleFillGap\" : 0.40,\n     \"textVertPosition\" : 0.45,\n     \"waveAnimateTime\" :  5000,\n     \"waveHeight\" :  0.17,\n     \"waveAnimate\" :  true,\n     \"waveOffset\" :  0.25,\n     \"valueCountUp\" :  false,\n     \"displayPercent\" :  false,\n    };\n\nvar msg1 = {\n        \"payload\":  Math.round(SnSrPurse.Tirelire), \n        \"ui_control\":{\n            \"min\":0,\n            \"max\":(membre.Productible * membre.Pprod /2), \n            \"options\":GaugeOptions,\n        },\n        \"topic\":\"Tirelire\"\n    };\n\nvar msg2 = {'payload':{\n                'textColor': \"rgba(0,0,0,0.9)\",\n                'waveTextColor': \"#805615\",\n                'value': Math.round(SnSrPurse.Tirelire),\n                'maxValue': (membre.Productible * membre.Pprod /2), \n             }\n    }\n\n\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":900,"y":840,"wires":[[],["1dba7e7e.55980a"],[]]},{"id":"f8098f04.227d7","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1204,"y":590,"wires":[]},{"id":"560d5d2b.5f9c8c","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":723,"wires":[["1adf0c0a.b9a27c","71dcf80e.7aa378","94c70836.dfc8e8"]]},{"id":"94c70836.dfc8e8","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":800,"wires":[["9e904b56.e23c6"]]},{"id":"75549d1a.e1f1ec","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":80,"wires":[]},{"id":"ee1f7711.777d","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":460,"wires":[]},{"id":"a0a1abc.efbf658","type":"function","z":"60b1046f.48a20c","name":"IMP2conso","func":"if (msg.payload == 'TIC') {return;}\n\nvar msg1 = {};\nvar msg3 = {};\n\nvar timeNow = new Date();\n//var SnSrIdx = flow.get('SnSrIdx');\n//var SnSrSimul = flow.get(\"SnSrSimul\");\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\"); //20200127 - RED.util.cloneMessage(flow.get('SnSrIdxObj'));\n//var consoIMPidx= flow.get(\"consoIMPidx\");\n\n//var consoIMPidx = Math.round(msg.count); // pour une valeur init Value >>0\nSnSrIdxObj.consoIMPidx += 0.5; // Incrémentation 0,5 car 2 msg par impulsion  montee/descente\nflow.set ('SnSrIdxObj', SnSrIdxObj); \n\nmsg1.payload = (SnSrIdxObj.consoIMPidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // // consoIMPidx.toString().substring(2)/1000;\nmsg1.topic=\"consoidx\";\nmsg1.timenow = timeNow;\n\n// TIMESTAMP YYYYMMDDhhmmss\n\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\nmsg3.timenow = timeNow;\nmsg3.payload = [timeString, SnSrIdxObj.consoIMPidx, timeNow];\nmsg3.topic=\"CONSO\";\n\nreturn [msg1, msg3];","outputs":2,"noerr":0,"x":639.75,"y":481.75,"wires":[["ce3bfdac.86f36"],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"a74c84fa.277e6","type":"function","z":"60b1046f.48a20c","name":"blank[]","func":"\nvar blank = []\nmsg.payload = blank;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":740,"wires":[[]]},{"id":"f7fc8ffe.4cf1e8","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":590,"y":740,"wires":[["a74c84fa.277e6","8cc311f8.8162c","ee1d3479.ae6158","7af66000.40ea9","9e904b56.e23c6"]]},{"id":"ce3bfdac.86f36","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1018.7499389648438,"y":507.75,"wires":[["c505fffc.643758"]]},{"id":"580e44f.04b61bc","type":"serial in","z":"60b1046f.48a20c","name":"TICserial","serial":"2801b644.dadc02","x":120,"y":420,"wires":[["215bee19.14fe3a"]]},{"id":"4eba389c.53694","type":"rpi-gpio in","z":"60b1046f.48a20c","name":"impuls","pin":"18","intype":"up","debounce":"25","read":false,"x":110,"y":480,"wires":[["abd575d0.5e6308","58d4c8a3.c49c88"]]},{"id":"7eccb1ab.92f438","type":"rpi-gpio in","z":"60b1046f.48a20c","name":"impulse2","pin":"29","intype":"up","debounce":"25","read":false,"x":120,"y":520,"wires":[["db28ddb4.30acb8","a0a1abc.efbf658"]]},{"id":"e3f58368.13a3d8","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1025.3333129882812,"y":401.3333435058594,"wires":[["4a9bcc5b.3d2784"]]},{"id":"d95005c4.b8fcc8","type":"delay","z":"60b1046f.48a20c","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1020.3333129882812,"y":370.3333435058594,"wires":[["ce40e7ff.ac3e18"]]},{"id":"9f0b4b36.b38dc","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":540,"wires":[]},{"id":"a2ab81dc.fcc4d","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":163.84999084472656,"y":1114.75,"wires":[["9e740c18.e428a8"]]},{"id":"9e740c18.e428a8","type":"function","z":"60b1046f.48a20c","name":"LastIdx","func":"\n// cette fonction stocke la production toutes les 3h pour le graph\n// la boucle IF n'est activée que ttes les 3h\n// la fonction incrémente LastIdx avec SnSrIdxObj\n//elle est a revoir car elle stocke le graph de previion / production en bonus\n\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\"); // RED.util.cloneMessage(flow.get(\"SnSrIdxObj\"));\nvar membre = flow.get('membre');\n\nvar SnSrForecast = RED.util.cloneMessage(flow.get(\"SnSrForecast\")) // || {}; // contient un tableau de objets x,y de 2 séries prod, prev\n\n// boucle pour le premier tour\nif (SnSrForecast.init.init == \"demarrage\")\n     {msg.payload = SnSrForecast.init.timeNow;\n     SnSrForecast.init.init = \"allume\";\n     flow.set(\"SnSrForecast\", SnSrForecast);\n     return msg;\n    }\n\n// Cas général : on récupère l'index à l'heure du changement de tranche horaire météo (3h pour OpenWeather)\nvar timeNow =  new Date(SnSrIdxObj.TICstamp);\nvar hours  = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar thisdate = timeNow.getDate();\nvar thisyear  = timeNow.getFullYear();\nvar LastTime =  new Date(SnSrForecast.LastIdx.TICstamp) || timeNow;\n\n//Changement de tranche OpenWeatherMap - Total de la production pour 3h\nif ((timeNow.getTime() > (new Date(SnSrForecast.forecast[0].dt*1000).getTime() ) ) || (timeNow.getTime() > (LastTime.getTime() + 3.3*60*60*1000)))\n    {SnSrForecast.data[0].shift(); //on supprime la premiere valeur puis on ajoute une nouvelle à la fin\n     SnSrForecast.data[0].push( { \"x\": new Date((LastTime.getTime() + timeNow.getTime())/2).getTime() , \"y\": Math.round((SnSrIdxObj.prodidx - SnSrForecast.LastIdx.prodidx) / ((timeNow.getTime() - LastTime.getTime()) / (1000*60*60))) }) ; \n     // y est une Puissance moyenne en W sur la période\n     SnSrForecast.LastIdx = SnSrIdxObj;\n     SnSrForecast.debug = {\"LastTime\":LastTime.getTime() , \"timeNow\":timeNow.getTime() , \"ForecastTime\":new Date(SnSrForecast.forecast[1].dt*1000).getTime(), \"ExIdx\":SnSrIdxObj.prodidx , \"LastIdx\":SnSrForecast.LastIdx.prodidx};\n     flow.set(\"SnSrForecast\", SnSrForecast);\n     msg.LastIdx = SnSrIdxObj;\n     msg.debug = SnSrForecast.debug;\n     msg.payload = \"LastIdx\";\n     return msg;\n    }\n    \n","outputs":1,"noerr":0,"x":316.5166778564453,"y":1114.0833587646484,"wires":[["737279c5.c2b928","70a05f7e.1f1bc8"]]},{"id":"ce8965a6.092a5","type":"function","z":"60b1046f.48a20c","name":"météo","func":"//******************\n// Cas de la météo du moment (un seul objet) \nvar msg1 = { payload:msg.payload.temp_maxc };\nvar msg2 = { payload:msg.payload.clouds, topic:\"nuages\" };\nvar msg3 = { payload:msg.payload.tempc };\nvar msg4 = { payload:msg.payload.location + \" : \" + msg.payload.detail }; // + \" , \" + msg.payload.location};\nvar msg5 = { payload:msg.payload.icon};\n\n//******************\n// Cas de la prévision à 7j\n// NB : La localisation ne passe pas en paramètre\n\n//var OpenWeather = msg.payload;\n//var data = [];\n//\n//for (i = 0; i < 40; i++) \n//    {\n//    var x = OpenWeather[i].dt;\n//    var y = OpenWeather[i].clouds.all;\n//    var tab =[];\n//    tab[0] = {\"x\":x, \"y\":y};\n//    data.push(tab);\n//    }\n//var NebulTable = [];\n//NebulTable[0] = \n //   {\n//\"series\": [\"nébulosité\"],\n////\"data\": data,\n//\"labels\": [\"nébul.\"]\n//    }\n\n//var MeteoDemain = OpenWeather[8]; //le temps dans 24h\n//var msg1 = {payload:MeteoDemain};\n//var msg2 = {topic:\"nébul.\", payload:MeteoDemain.clouds.all};\n//var msg3 = {};\n//var msg4 = {payload:MeteoDemain.weather[0].description};\n//var msg5 = {payload:MeteoDemain.weather[0].icon};\n\nreturn [ msg1, msg2, msg3, msg4, msg5 ];","outputs":5,"noerr":0,"x":622.5166015625,"y":999.0833740234375,"wires":[[],[],["4291fa77.f9249c"],["98ed47ad.51e498"],["3a8e466d.277f0a"]],"outputLabels":["Temp Max","","","",""]},{"id":"24c1c271.5cab66","type":"function","z":"60b1046f.48a20c","name":"Forecast2PV","func":"var forecast = {}; var meteo = {};\nvar msg1 = {}; var msg2 = {};\nvar debug = {}; var debugTab = [];\n\nforecast = msg.forecast; //Tableau de 8 tranches de previsions météo de 3h\nmeteo = msg.meteo; // objet de la météo du moment\n\nvar SnSrForecast = RED.util.cloneMessage(flow.get(\"SnSrForecast\")) || {}; // contient un tableau de objets x,y de 2 séries prod, prev\nvar membre = flow.get('membre');\n\n//Preparation de la prévision de production future via OpenWeatherMap\n\nvar SunCal = []; // Tableau de coefficients moyens mensuels de production PV des données PVGIS et ENEDIS profil PRD3\nSunCal.push({\"mois\":12, \"PVGIS1200\":0.333, \"PVGISclear\":0.597, \"ENEDIS_PRD3\":1.782, \"ENEDIS1200\":0.244}); //SunCal[0] = SunCal[12]\nSunCal.push({\"mois\":1, \"PVGIS1200\":0.297, \"PVGISclear\":0.605, \"ENEDIS_PRD3\":2.071, \"ENEDIS1200\":0.284});\nSunCal.push({\"mois\":2, \"PVGIS1200\":0.404, \"PVGISclear\":0.736, \"ENEDIS_PRD3\":2.962, \"ENEDIS1200\":0.407});\nSunCal.push({\"mois\":3, \"PVGIS1200\":0.469, \"PVGISclear\":0.836, \"ENEDIS_PRD3\":3.696, \"ENEDIS1200\":0.507});\nSunCal.push({\"mois\":4, \"PVGIS1200\":0.546, \"PVGISclear\":0.815, \"ENEDIS_PRD3\":4.231, \"ENEDIS1200\":0.581});\nSunCal.push({\"mois\":5, \"PVGIS1200\":0.503, \"PVGISclear\":0.819, \"ENEDIS_PRD3\":4.493, \"ENEDIS1200\":0.617});\nSunCal.push({\"mois\":6, \"PVGIS1200\":0.52, \"PVGISclear\":0.803, \"ENEDIS_PRD3\":4.673, \"ENEDIS1200\":0.641});\nSunCal.push({\"mois\":7, \"PVGIS1200\":0.527, \"PVGISclear\":0.78, \"ENEDIS_PRD3\":4.709, \"ENEDIS1200\":0.646});\nSunCal.push({\"mois\":8, \"PVGIS1200\":0.562, \"PVGISclear\":0.777, \"ENEDIS_PRD3\":4.513, \"ENEDIS1200\":0.619});\nSunCal.push({\"mois\":9, \"PVGIS1200\":0.559, \"PVGISclear\":0.75, \"ENEDIS_PRD3\":4.129, \"ENEDIS1200\":0.567});\nSunCal.push({\"mois\":10, \"PVGIS1200\":0.419, \"PVGISclear\":0.757, \"ENEDIS_PRD3\":3.226, \"ENEDIS1200\":0.443});\nSunCal.push({\"mois\":11, \"PVGIS1200\":0.343, \"PVGISclear\":0.66, \"ENEDIS_PRD3\":2.329, \"ENEDIS1200\":0.32});\nSunCal.push({\"mois\":12, \"PVGIS1200\":0.333, \"PVGISclear\":0.597, \"ENEDIS_PRD3\":1.782, \"ENEDIS1200\":0.244});\nSunCal.push({\"mois\":1, \"PVGIS1200\":0.297, \"PVGISclear\":0.605, \"ENEDIS_PRD3\":2.071, \"ENEDIS1200\":0.284}); //SunCal[13] = SunCal[1]\n\nvar sunrise =  new Date(meteo.sunrise*1000);\nvar sunset = new Date(meteo.sunset*1000);\nvar LeverSoleil = sunrise.getHours()*60+sunrise.getMinutes();//new Date((meteo.sunrise+24*60*60)*1000); // timestamp le lendemain, horaire du lever du soleil \nvar CoucherSoleil  = sunset.getHours()*60+sunset.getMinutes();//new Date((meteo.sunset+24*60*60)*1000); \nvar facteurX = 3047.380505; //facteur  arbitraire sans unité calculé à partir de la prod moyenne d'une journee \n\nvar annee = sunrise.getFullYear();\nvar mois = sunrise.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = sunrise.getDate();\n\n//msg1.payload = \"debug\";\n//msg2.payload = {\"LeverSoleil\":LeverSoleil.getTime(), \"LeverSoleild\":LeverSoleil, \"annee\":annee, \"mois\":mois, \"jour\":jour } ;\n//return [msg1, msg2]\n\nvar mois2 = mois;\nif (jour < 15) { mois2 = mois - 1;}\n    else { mois2 = mois + 1;}\nvar CS = SunCal[mois].PVGISclear;\nvar CS2 = SunCal[mois2].PVGISclear;\n\nCS = CS + ((15-jour)*(CS-CS2)/Math.abs(Math.round(new Date(annee, mois, 15) - new Date (annee, mois2, 15))/(1000*60*60*24))); //interpolation de 2 CS mensuels\nvar facteurP = 1; if (CS > 1) {facteurP = membre.Productible * facteurX /(365*24);} // cas pour utiliser le profile ENEDIS_PRD3 facteur de puissance sans unité\n\n//var XY = SnSrForecast.data[1][7];\nfor (var i=0; i<12;i++) \n    {\n     var trancheH = new Date(1000*(forecast[i].dt+forecast[i+1].dt)/2);\n     var trancheH2 = trancheH.getHours()*60+trancheH.getMinutes();\n     var Jour100 = Math.round(100*(trancheH2 - LeverSoleil)/(CoucherSoleil - LeverSoleil));\n     var parabole = 1 + (-1 * (Math.pow(((Jour100-50)/50 ), 2))); // parabole <0 LA NUIT avant et après le coucher du soleil\n     // var integrale = (-1 * Math.pow(((Jour100b-50)/50), 3)/3 + (Jour100b-50)/50 + 2/3) - (-1 * Math.pow(((Jour100a-50)/50), 3)/3 + (Jour100b-50)/50 + 2/3); //-x3/3+x+2/3 IntegraleB-integraleA\n     prod = Math.max((membre.Pprod * 1000 * parabole * CS * facteurP), 0);  // prod sans nuages, puissance en W, vaut 0 avant et après le coucher du soleil car parabole <0 la nuit\n    \n     SnSrForecast.data[2][i] = { \"x\": trancheH.getTime(),\n                                \"y\": Math.round(prod * (0.10 + 0.90 * (Math.pow(1 - (forecast[i].clouds.all/100),2))))\n                                  }\n     //SnSrForecast.data[1][23-i].x = trancheH.getTime() ; // on commence par la fin\n     //SnSrForecast.data[1][23-i].y = Math.round(prod * (0.1 + 0.9 * (Math.pow(1 - (forecast[11-i].clouds.all/100),2))));\n     //nébulosité sur 90% de la valeur prend en compte l'irradiation indirecte + mise au carré car la relation n'est pas linéaire\n     \n     debugTab.push({\"trancheH\":trancheH , \"Jour100\":Jour100 , \"CS\":CS, \"parabole\":parabole , \"prod\":prod, \"clouds\":forecast[i].clouds.all, \"SnSrForecast\": SnSrForecast.data[2][i].y});   \n     debugTab.shift();\n     //evacuer les valeur abérentes (inititalisation);\n     // if (Math.abs(prod) > membre.Pprod*1000) {prod = 0;}\n    }\n\n// Décalage des courbes : le premier point du lendemain devient le dernier point de la courbe du jour\n// SnSrForecast.data[1] a 13 valeurs car il faut que les points se recouvrent pour la contiuité des courbes. Un \"trou\" dans le graphe se crée sinon.\nSnSrForecast.data[1].shift(); //on supprime la premiere valeur [0] puis on ajoute une 13e à la fin\nSnSrForecast.data[1].push( SnSrForecast.data[2][0] ) ; \n\n// la premiere partie de l'objet pour la production est complétée dans la fonction ChgDate\nSnSrForecast.labels = [\"\",\"\", \"\"]\nSnSrForecast.forecast = forecast;\nSnSrForecast.meteo = meteo;\nSnSrForecast.debugTab = {debugTab};\nflow.set (\"SnSrForecast\", SnSrForecast);\n\nmsg1.payload = [{\"series\":SnSrForecast.series, \"data\":SnSrForecast.data, \"labels\":[\"\",\"\", \"\"]}]; // devient un tableau pour la fonction Dashboard sur le graph\nmsg2.payload = [{\"series\":[\"prevision\", \"prevision_0\"], \"data\":[SnSrForecast.data[1], SnSrForecast.data[2]], \"labels\":[\"\",\"\"]}]; // TEST pour ajouter au graph 15 min SnSr15\n//msg2.payload={\"meteo\":meteo, \"forecast\":forecast, \"debugTab\":debugTab, \"debug\":debug};\n\n\n//msg1.payload = meteo;\n//msg1.topic = \"meteo\";\n\n//msg2.payload = forecast;\n//msg2.topic = \"forecast\";\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":980.5166015625,"y":1098.0833129882812,"wires":[["96582009.96676"],[]]},{"id":"a7aabfc6.fe1af","type":"change","z":"60b1046f.48a20c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"meteo","tot":"str"},{"t":"set","p":"meteo","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":659.5166778564453,"y":1058.0833740234375,"wires":[["b524df15.b6c138"]]},{"id":"d42780ba.761ea8","type":"function","z":"60b1046f.48a20c","name":"Init_VAR","func":"\n// Tableau des coefficients du profil ENEDIS PRD3 - max journalier\nvar timeNow = new Date(msg.payload);\nvar timeref = timeNow.getTime();\n\n//var SnSr15Obj = flow.get(\"SnSr15Obj\");\n//var SnSrIdxObj = flow.get(\"SnSrIdxObj\");\n//var SnSrIdxStore = flow.get(\"SnSrIdxStore\"); // [];\nvar SnSrPurse = flow.get(\"SnSrPurse\"); // [];\nSnSrPurse.Tirelire = 323;\nflow.set(\"SnSrPurse\", SnSrPurse); // [];\n\n//var SnSrForecast = flow.get(\"SnSrForecast\");\n//flow.set (\"membre\", {\"pseudo\":'pseudo', \"id\":'00x00Aa', \"ADSC\":021675051387, \"PDL\":14282923268426, \"Psoutir\":6, \"profil\":'BASE',\"Pprod\":3, \"Productible\":1200, 'ProdCorrec': 0.5, 'ConsoObjAnnuel': 10*365}); //Pprod en kWc, productible en kWh/kWc pour Nantes\n//flow.set (\"SnSrPurse\", {\"Tirelire\":999, \"erosion\":364/365, 'thisyear':timeNow.getFullYear()});\n//var SnSrHier = flow.get(\"SnSrHier\");\n//flow.set (\"SnSrHier\", {\"yesterday\":timeNow, \"soutirhier\": null, \"injecthier\":null, \"autoconsohier\":null, \"consohier\":null, \"prodhier\":null, \"soutiridx\":SnSrHier.soutiridx, \"injectidx\":SnSrHier.injectidx, \"prodidx\":null});\n//flow.set (\"SnSrHier\",{\"yesterday\":1580165418000,\"soutirhier\":7666,\"injecthier\":456,\"autoconsohier\":1206,\"consohier\":8872,\"prodhier\":1662,\"soutiridx\":9834315,\"injectidx\":2521483,\"prodidx\":6469082});\n\n//flow.set (\"SnSrHier\", SnSrHier);\n//SnSrIdxObj.prodidx = 6489323;\n//SnSr15Obj.prodidx = 6489323;\n//flow.set(\"SnSr15Obj\", SnSr15Obj);\n//flow.set(\"SnSrIdxObj\", SnSrIdxObj);\n\n//for (i=0; i<2; i++) \n//    {SnSrForecast.data[1].unshift({\"x\":1580628600000 - i*3*60*60*1000,\"y\":0})\n//    }\n    \n//for (i=0; i<80; i++) \n//    {SnSrIdxStore.unshift(\n//            {\"x\":1580694711000 - i * 15*60*1000,\"prod\":0,\"inject\":0,\"soutir\":300,\"conso\":300,\"autoconso\":0}        \n//    )}\n//flow.set(\"SnSrIdxStore\", SnSrIdxStore);\n//flow.set(\"SnSrForecast\", SnSrForecast);\n\n//for (i=0; i<6; i++) \n//{SnSrForecast.data[1].shift();}\n\n//var data = [[],[],[]];\n//for (i=0; i<12; i++) \n//        {data[0].push({\"x\": timeNow.getTime() - (12-i)*3*60*60*1000,\n//                     \"y\": 120\n//                    });\n//        data[1].push({\"x\": timeNow.getTime() - (12-i)*2*3*60*60*1000,\n//                     \"y\": 120\n//                    });\n//        data[1].push({\"x\": timeNow.getTime() - (((12-i)*2)-1)*3*60*60*1000,\n//                     \"y\": 120\n//                    });\n//        data[2].push({\"x\": timeNow.getTime() + i*3*60*60*1000,\n//                     \"y\": 120\n//                    });\n//        }\n\n//var SnSrForecast = \n//    {\"series\": [\"production\", \"prevision\", \"prevision_\"],\n//    \"data\": data,\n//    \"labels\": [\"\",\"\",\"\"],\n//    \"LastIdx\" : SnSrIdxObj,\n//    \"init\" : {\"init\":\"demarrage\", \"timeNow\":timeNow.getTime()},\n//    }\n//flow.set(\"SnSrForecast\", SnSrForecast);\n\n\n\n//var membre = flow.get(\"membre\");\n//membre.Productible = 1200; // productible à Nantes\n//flow.set (\"membre\", membre);\n\n\n//flow.set (\"SnSrForecast\", SnSrForecast);\nreturn msg;\n\nvar SnSrForecast = \n{\"series\":[\"production\",\"prevision\",\"prevision_\"],\n\"data\":\n\t[\n\t\t[\t{\"x\":1579287173120,\"y\":120}, //12 valeurs de production pa tranche de 3h - N'est pas très utile lorsqu'on montre la prod par tranche de 15 min\n\t\t\t{\"x\":1579301910000,\"y\":0},\n\t\t\t{\"x\":1579311198000,\"y\":0},\n\t\t\t{\"x\":1579321984500,\"y\":0},\n\t\t\t{\"x\":1579332785000,\"y\":2155358},\n\t\t\t{\"x\":1579343584500,\"y\":618},\n\t\t\t{\"x\":1579354384000,\"y\":466},\n\t\t\t{\"x\":1579365184500,\"y\":32},\n\t\t\t{\"x\":1579371185000,\"y\":null},\n\t\t\t{\"x\":1579371784000,\"y\":null},\n\t\t\t{\"x\":1579376578000,\"y\":0},\n\t\t\t{\"x\":1579381971000,\"y\":null}\n\t\t],\n\t\t[\t{\"x\":1579146773120,\"y\":120}, //24 valeurs de prevision de prod du passé conservées pour le graph\n\t\t\t{\"x\":1579157573120,\"y\":120},\n\t\t\t{\"x\":1579168373120,\"y\":120},\n\t\t\t{\"x\":1579179173120,\"y\":120},\n\t\t\t{\"x\":1579189973120,\"y\":120},\n\t\t\t{\"x\":1579200773120,\"y\":120},\n\t\t\t{\"x\":1579211573120,\"y\":120},\n\t\t\t{\"x\":1579222373120,\"y\":120},\n\t\t\t{\"x\":1579233173120,\"y\":120},\n\t\t\t{\"x\":1579243973120,\"y\":120},\n\t\t\t{\"x\":1579254773120,\"y\":120},\n\t\t\t{\"x\":1579265573120,\"y\":120},\n\t\t\t{\"x\":1579276373120,\"y\":120},\n\t\t\t{\"x\":1579287173120,\"y\":120},\n\t\t\t{\"x\":1579311000000,\"y\":0},\n\t\t\t{\"x\":1579311000000,\"y\":0},\n\t\t\t{\"x\":1579311000000,\"y\":0},\n\t\t\t{\"x\":1579321800000,\"y\":0},\n\t\t\t{\"x\":1579332600000,\"y\":0},\n\t\t\t{\"x\":1579343400000,\"y\":78},\n\t\t\t{\"x\":1579354200000,\"y\":91},\n\t\t\t{\"x\":1579365000000,\"y\":216},\n\t\t\t{\"x\":1579375800000,\"y\":0},\n\t\t\t{\"x\":1579386600000,\"y\":0}\n\t\t],\n\t\t[\t{\"x\":1579386600000,\"y\":0}, //12 valeurs de prevision de prod du lendemain\n\t\t\t{\"x\":1579397400000,\"y\":0},\n\t\t\t{\"x\":1579408200000,\"y\":0},\n\t\t\t{\"x\":1579419000000,\"y\":0},\n\t\t\t{\"x\":1579429800000,\"y\":1559},\n\t\t\t{\"x\":1579440600000,\"y\":1710},\n\t\t\t{\"x\":1579451400000,\"y\":216},\n\t\t\t{\"x\":1579462200000,\"y\":0},\n\t\t\t{\"x\":1579473000000,\"y\":0},\n\t\t\t{\"x\":1579483800000,\"y\":0},\n\t\t\t{\"x\":1579494600000,\"y\":0},\n\t\t\t{\"x\":1579505400000,\"y\":0}\n\t\t]\n\t],\n\"labels\":[\"\",\"\",\"\"],\n\"LastIdx\":{\"TICstamp\":1579382314000,\"TICtime\":\"2020-01-18T21:18:34.000Z\",\"soutiridx\":9763376,\"injectidx\":2515737,\"IMPstamp\":1579367569954,\"IMPtime\":\"2020-01-18T17:12:49.954Z\",\"prodidx\":6469421,\"consoIMPidx\":99999,\"tarif\":\"BASE\",\"Uinst\":233,\"PuisRef\":6,\"PuisInst\":712,\"nPRM\":14282923268426},\n\"init\":{\"init\":\"allume\",\"timeNow\":1579297973120},\n\"forecast\":\n\t\t[ // 40 Tables d'objets météo par tranche de 3h\n\t\t\t{\"dt\":1579381200,\"main\":{\"temp\":5.22,\"feels_like\":0.82,\"temp_min\":3.87,\"temp_max\":5.22,\"pressure\":1031,\"sea_level\":1031,\"grnd_level\":1026,\"humidity\":90,\"temp_kf\":1.35},\"weather\":[{\"id\":803,\"main\":\"Clouds\",\"description\":\"nuageux\",\"icon\":\"04n\"}],\"clouds\":{\"all\":57},\"wind\":{\"speed\":4.32,\"deg\":47},\"sys\":{\"pod\":\"n\"},\"dt_txt\":\"2020-01-18 21:00:00\"},\n\t\t\t//....\n\t\t],\n\"meteo\": // objet météo du moment\n\t\t{\"weather\":\"Clouds\",\"detail\":\"partiellement nuageux\",\"icon\":\"03n\",\"tempk\":279.71,\"tempc\":6.5,\"temp_maxc\":7.7,\"temp_minc\":5.5,\"humidity\":75,\"pressure\":1026,\"maxtemp\":280.93,\"mintemp\":278.71,\"windspeed\":3.1,\"winddirection\":60,\"location\":\"Orvault\",\"sunrise\":1579333625,\"sunset\":1579365953,\"clouds\":40,\"description\":\"The weather in Orvault at coordinates: 47.27, -1.62 is Clouds (partiellement nuageux).\"},\n\"debugTab\":{\"debugTab\":[]},\n\"debug\":{\"LastTime\":1579381971000,\"timeNow\":1579381971000,\"ForecastTime\":1579392000000,\"ExIdx\":6469421,\"LastIdx\":6469421}}","outputs":1,"noerr":0,"x":353,"y":320,"wires":[["6eaf8820.54562"]]},{"id":"e46625ed.0380f","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":202.99996948242188,"y":320,"wires":[["d42780ba.761ea8"]]},{"id":"6eaf8820.54562","type":"debug","z":"60b1046f.48a20c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":495.54986572265625,"y":311.3666076660156,"wires":[]},{"id":"70a05f7e.1f1bc8","type":"debug","z":"60b1046f.48a20c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":1160,"wires":[]},{"id":"1272782b.1cce38","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":330,"y":1060,"wires":[["737279c5.c2b928"]]},{"id":"dd91e65a.43576","type":"change","z":"60b1046f.48a20c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"forecast","tot":"str"},{"t":"set","p":"forecast","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":797.3666381835938,"y":1098.2666931152344,"wires":[["24c1c271.5cab66","f82f1c24.12a368"]]},{"id":"f82f1c24.12a368","type":"debug","z":"60b1046f.48a20c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":1180,"wires":[]},{"id":"ec4ac4cc.60c6c","type":"function","z":"60b1046f.48a20c","name":"ForecastMeteo","func":"\n\n// PREVISION METEO (nébulosité)\nvar OpenWeather = msg.payload; //Tableau de 40 tranches de previsions météo de 3h\nvar cloudsforecast2= []; \n\ncloudsforecast2 = \n[{\n\"series\": [\"clarté\"],\n\"data\": [\n    [{ \"x\": new Date((OpenWeather[0].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[0].clouds.all },\n    { \"x\": new Date((OpenWeather[1].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[1].clouds.all },\n    { \"x\": new Date((OpenWeather[2].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[2].clouds.all },\n    { \"x\": new Date((OpenWeather[3].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[3].clouds.all },\n    { \"x\": new Date((OpenWeather[4].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[4].clouds.all },\n    { \"x\": new Date((OpenWeather[5].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[5].clouds.all },\n    { \"x\": new Date((OpenWeather[6].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[6].clouds.all },\n    { \"x\": new Date((OpenWeather[7].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[7].clouds.all },\n    { \"x\": new Date((OpenWeather[8].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[8].clouds.all },\n    ],\n],\n\"labels\": [\"\"]\n}]\n\n// PREVISION DE PRODUCTION PV\n\nmsg.OpenWeather = OpenWeather;\nmsg.payload = cloudsforecast2;\nreturn msg;\n\n// For Line charts \"on the go\"\n// {topic:\"temperature\", payload:22, timestamp:1520527095000}\n\n//For line charts an example is given below\n\n//[{\n//\"series\": [\"A\", \"B\", \"C\"],\n//\"data\": [\n//    [{ \"x\": 1504029632890, \"y\": 5 },\n//     { \"x\": 1504029636001, \"y\": 4 },\n//     { \"x\": 1504029638656, \"y\": 2 }\n//    ],\n//    [{ \"x\": 1504029633514, \"y\": 6 },\n//     { \"x\": 1504029636622, \"y\": 7 },\n//     { \"x\": 1504029639539, \"y\": 6 }\n//    ],\n//    [{ \"x\": 1504029634400, \"y\": 7 },\n//     { \"x\": 1504029637959, \"y\": 7 },\n//     { \"x\": 1504029640317, \"y\": 7 }\n//    ]\n//],\n//\"labels\": [\"\"]\n//}]\n","outputs":1,"noerr":0,"x":702.566650390625,"y":1139.36669921875,"wires":[["4dec18b.33df768"]]},{"id":"7af66000.40ea9","type":"function","z":"60b1046f.48a20c","name":"Graph Format","func":"//Cette fonction stocke les valeurs toutes les 15 min \n// et met a jour le graph MegaGraph (conso, prod, prevision)\n\n\nvar SnSr15Last = msg.payload;\nvar SnSrIdxStore = flow.get(\"SnSrIdxStore\"); //RED.util.cloneMessage(flow.get(\"SnSrIdxStore\")); \nvar SnSrForecast = flow.get(\"SnSrForecast\");\n\nvar ConsoObjAnnuel = msg.ConsoObjAnnuel;\n\nSnSrIdxStore.shift(); //on supprime la premiere valeur [0] puis on ajoute la nouvelle à la fin\nSnSrIdxStore.push( SnSr15Last ) ;\nflow.set(\"SnSrIdxStore\",SnSrIdxStore);\n\nvar TableConso = [];\nvar MegaGraph = {\n        \"series\":[\"production\", \"consommation\", \"prevision\", \"prevision_\"],\n        \"data\": [[],[],[],[]],\n        \"labels\":[\"\"],\n        };\n\nvar nbidx = SnSrIdxStore.length;\nfor (i=0; i<nbidx; i++) // x le max de i est la longueur de SnSrIdxStore\n    { MegaGraph.data[0].push({\"x\":SnSrIdxStore[i].x, \"y\":SnSrIdxStore[i].prod});\n      MegaGraph.data[1].push({\"x\":SnSrIdxStore[i].x, \"y\":SnSrIdxStore[i].conso});\n      TableConso.push(SnSrIdxStore[i].conso); // pour réaliser les stats Pointe / Talon\n    }\nMegaGraph.data[2] = SnSrForecast.data[1];\nMegaGraph.data[3] = SnSrForecast.data[2];\n\nvar msg0 = {'payload':[MegaGraph]};\n\n// Variables stats pour la définition du \"talon de conso\" et \"pointe de conso\"\nvar msg1 = {};\nmsg1.payload = TableConso;\nmsg1.topic = \"quantile\";\nmsg1.parameter = 0.1;\n\nvar msg2 = {};\nmsg2.payload = TableConso;\nmsg2.topic = \"quantile\"; //\"max\"\nmsg2.parameter = 0.99;\n\nvar msg3 = {};\nmsg3.payload = Math.ceil(ConsoObjAnnuel)/365;\n\nreturn [msg0, msg1, msg2, msg3];","outputs":4,"noerr":0,"x":940,"y":940,"wires":[["bd7b3367.c4a3a8","76dea550.349074"],["d58b805d.8712c8"],["d54d5808.c19ed8"],["20c105aa.621b7a"]]},{"id":"f2189684.36d3d","type":"change","z":"60b1046f.48a20c","name":"","rules":[{"t":"delete","p":"SnSrIdxStore","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370.63330078125,"y":343.2333068847656,"wires":[[]]},{"id":"76dea550.349074","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":880,"wires":[]},{"id":"db85b662.4bd1e","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":800,"wires":[]},{"id":"aad1a4d8.9e2448","type":"debug","z":"60b1046f.48a20c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":323,"y":240,"wires":[]},{"id":"b626c297.d14e8","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"1","x":170,"y":1260,"wires":[["95b80181.811c58"]]},{"id":"95b80181.811c58","type":"function","z":"60b1046f.48a20c","name":"Conseils","func":"\nvar objConseils = {};\nvar imageConseils = \"\";\nvar themeConseils = \"\";\nvar nbConseils = 39;\nvar int = 0;\n\nif (msg.NEXT) {int = (msg.NEXT + 1);}\n    else { if (msg.PREV) {int = (msg.PREV - 1);}\n    else {int = Math.floor(Math.random()*(nbConseils))+1;} //nb de 0 à nbConseils ;\n    }\n\nif (int > nbConseils) {int = 1;}\nif (int < 0 ) {int = nbConseils;}\n\n\nswitch(int) {\n    \n  case 1:\n    objConseils = {noConseils: 1, nbConseils: 7, noTheme: 1 ,contenuConseils: \"Faites des &eacute;conomies de chauffage en fermant vos volets la nuit et, en p&eacute;riode de grand froid, laissez-les ferm&eacute;s le matin avant de partir de chez vous.\"};\n    break;\n  case 2:\n    objConseils = {noConseils: 2, nbConseils: 7, noTheme: 1 ,contenuConseils: \"R&eacute;guler et programmer votre chauffage vous permet de consommer jusqu&rsquo;&agrave; 10 % de moins.\"};\n    break;\n  case 3:\n    objConseils = {noConseils: 3, nbConseils: 7, noTheme: 1 ,contenuConseils: \"Avec un <strong>contrat d&rsquo;entretien</strong>, vous prolongez la dur&eacute;e de vie de votre <strong>chaudi&egrave;re</strong>. C'est aussi jusqu'&agrave; 5 fois moins de pannes et 12 % de combustible &eacute;conomis&eacute;.\"};\n    break;\n  case 4:\n    objConseils = {noConseils: 4, nbConseils: 7, noTheme: 1 ,contenuConseils: \"Pour une meilleure efficacit&eacute; de vos <strong>radiateurs</strong>, ne les couvrez pas : ils diffuseront mieux la chaleur.\"};\n    break;\n  case 5:\n    objConseils = {noConseils: 5, nbConseils: 7, noTheme: 1 ,contenuConseils: \"16 ou 17 &deg;C suffit pour bien dormir. <strong>Baisser la temp&eacute;rature</strong> la nuit est sain et &eacute;conomique.\"};                \n    break;\n  case 6:\n    objConseils = {noConseils: 6, nbConseils: 7, noTheme: 1 ,contenuConseils: \"En immeuble ou en maison, l'<strong>isolation </strong>est la meilleure solution pour consommer moins d'&eacute;nergie pour le chauffage.\"};\n    break;\n  case 7:\n    objConseils = {noConseils: 7, nbConseils: 7, noTheme: 1 ,contenuConseils: \"Vous pensez &agrave; <strong>remplacer vos fen&ecirc;tres</strong> ? Seulement 10 &agrave; 15 % de la chaleur s'&eacute;chappe par les fen&ecirc;tres. D'autres<strong> travaux d'isolation</strong> sont peut-&ecirc;tre &eacute;galement utiles &agrave; r&eacute;aliser pour un logement plus confortable.\"};\n    break;\n  case 8:\n    objConseils = {noConseils: 8, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Mettre un couvercle sur une casserole pour faire bouillir de l&rsquo;eau, c&rsquo;est 4 fois moins d&rsquo;&eacute;nergie consomm&eacute;e !\"};\n    break;\n  case 9:\n    objConseils = {noConseils: 9, nbConseils: 6, noTheme: 2 ,contenuConseils: \"D&eacute;congelez les aliments dans le r&eacute;frig&eacute;rateur. Vous &eacute;viterez ainsi d&rsquo;utiliser le four &agrave; micro-ondes et vous pr&eacute;serverez la qualit&eacute; des produits.\"};\n    break;\n  case 10:\n    objConseils = {noConseils: 10, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Nettoyez la grille &agrave; l'arri&egrave;re de votre r&eacute;frig&eacute;rateur, d&eacute;givrez-le r&eacute;guli&egrave;rement, attendez que les plats aient refroidi avant de les y ranger et vous diminuerez la consommation &eacute;lectrique de votre appareil.\"};\n    break;\n  case 11:\n    objConseils = {noConseils: 11, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Pr&eacute;f&eacute;rez un four &agrave; air puls&eacute;. Un petit ventilateur y r&eacute;partit l'air chaud. Cela r&eacute;duit le temps de cuisson et donc la consommation d'&eacute;nergie.\"};\n    break;\n  case 12:\n    objConseils = {noConseils: 12, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Profitez d'une fin de cuisson pour lancer le nettoyage de votre four par pyrolyse. C'est un syst&egrave;me tr&egrave;s gourmand en &eacute;nergie.\"};\n    break;\n  case 13:\n    objConseils = {noConseils: 13, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Au moins une fois par an, pensez &agrave; d&eacute;givrer vos appareils de froid : d&egrave;s 3 millim&egrave;tres de givre leur consommation peut augmenter de 30 %.\"};\n    break;\n  case 14:\n    objConseils = {noConseils: 14, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Une ampoule bien d&eacute;poussi&eacute;r&eacute;e offre 40 % d&rsquo;&eacute;clairage suppl&eacute;mentaire.\"};\n    break;\n  case 15:\n    objConseils = {noConseils: 15, nbConseils: 6, noTheme: 3 ,contenuConseils: \"&eacute;vitez les LED &laquo; de d&eacute;coration &raquo;. Les LED contiennent des mat&eacute;riaux rares et consomment de l&rsquo;&eacute;lectricit&eacute;. Si elles n&rsquo;ont pas d&rsquo;utilit&eacute; pour l&rsquo;&eacute;clairage, mieux vaut les &eacute;viter.\"};\n    break;\n  case 16:\n    objConseils = {noConseils: 16, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Avant de partir en vacances, essayez de vider votre cong&eacute;lateur pour pouvoir le d&eacute;givrer. Vous ne le remettrez en fonctionnement qu'&agrave; votre retour.\"};\n    break;\n  case 17:\n    objConseils = {noConseils: 17, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Une prise programmable peut vous permettre de couper certains usages automatiquement la nuit ou pendant vos absences quotidiennes. Pensez-y&nbsp;!\"};\n    break;\n  case 18:\n    objConseils = {noConseils: 18, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Placez bureaux, plans de travail, canap&eacute;s, fauteuils pr&egrave;s des fen&ecirc;tres. Vous aurez ainsi moins besoin d&rsquo;&eacute;clairage artificiel pour lire ou travailler.\"};\n    break;\n  case 19:\n    objConseils = {noConseils: 19, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Pendant vos vacances, inutile de chauffer l'eau sanitaire ou de laisser vos appareils en veille. Coupez l'&eacute;lectricit&eacute; &agrave; tous les appareils inutiles en votre absence.\"};\n    break;\ncase 20:\n    objConseils = {noConseils: 20, nbConseils: 6, noTheme:4 ,contenuConseils: \"Les veilles des t&eacute;l&eacute;viseurs, cha&icirc;nes Hi-fi, d&eacute;codeurs, magn&eacute;toscopes, ordinateurs&hellip; consomment sans rien produire. D&eacute;connectez ces appareils quand ils ne sont pas en service\"};\n    break;\n  case 21:\n    objConseils = {noConseils: 21, nbConseils: 6, noTheme:4, contenuConseils: \"Pour choisir votre ordinateur, fiez-vous au logo ★ Energy Star ★ qui indique que votre mat&eacute;riel est &eacute;conome en &eacute;nergie quand il fonctionne et quand il est en veille. Pensez quand m&ecirc;me &agrave; le d&eacute;brancher apr&egrave;s usage.\"};\n    break;\n  case 22:\n    objConseils = {noConseils: 22, nbConseils: 6, noTheme:4, contenuConseils: \"En branchant les &eacute;quipements &eacute;lectriques sur une multiprise &agrave; interrupteur, il est facile de couper toutes les veilles en m&ecirc;me temps.\"};\n    break;\n  case 23:\n    objConseils = {noConseils: 23, nbConseils: 6, noTheme:4, contenuConseils: \"Apr&egrave;s avoir recharg&eacute; un appareil (t&eacute;l&eacute;phone, ordinateur portable, console de jeux&hellip;) pensez &agrave; le d&eacute;brancher, car le &quot;chargeur&quot; consomme en permanence.\"};\n    break;\n  case 24:\n    objConseils = {noConseils: 24, nbConseils: 6, noTheme:4, contenuConseils: \"L&rsquo;impact environnemental des mails augmente avec le poids des documents en pi&egrave;ce jointe. Pensez &agrave; comprimer les fichiers lourds et &agrave; supprimer les pi&egrave;ces jointes inutiles.\"};\n    break;\n  case 25:\n    objConseils = {noConseils: 25, nbConseils: 6, noTheme:4, contenuConseils: \"Savez-vous que l&apos;&eacute;tiquette &eacute;nergie est appos&eacute;e sur toutes les TV depuis fin 2011 ? Elle classe leurs performances &eacute;nerg&eacute;tiques de A+++ (les plus performantes) &agrave; G (les moins performantes).\"};\n    break;\n  case 26:\n    objConseils = {noConseils: 26, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Sur les lave-vaisselle et les lave-linge, la touche &eacute;co permet d&rsquo;&eacute;conomiser de l&rsquo;eau et jusqu'&agrave; 25 % d&rsquo;&eacute;lectricit&eacute;.\"};\n    break;\n  case 27:\n    objConseils = {noConseils: 27, nbConseils: 7, noTheme: 5 ,contenuConseils: \"R&eacute;duisez votre consommation d'&eacute;lectricit&eacute; en achetant des appareils performants signal&eacute;s par A+++ sur l&rsquo;&eacute;tiquette &eacute;nergie.\"};\n    break;\n  case 28:\n    objConseils = {noConseils: 28, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Remplissez bien votre lave-linge. Un programme &quot;pleine charge&quot; est moins consommateur en &eacute;lectricit&eacute; que deux lavages &quot;demi charge&quot;.\"};\n    break;\n  case 29:\n    objConseils = {noConseils: 29, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Le s&egrave;che-linge est un appareil gourmand en &eacute;nergie. D&egrave;s que cela est possible, &eacute;tendez votre linge &agrave; l'air libre : il s&egrave;chera sans consommer d'&eacute;lectricit&eacute;.\"};\n    break;\n  case 30:\n    objConseils = {noConseils: 30, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Si vous r&eacute;glez votre lave-linge &agrave; 40&deg;C, vous consommez 25 % d'&eacute;nergie en moins qu&rsquo;en cycle court &agrave; 60 &deg;C.\"};\n    break;\n  case 31:\n    objConseils = {noConseils: 31, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Attendez d'avoir suffisamment de linge sale pour pouvoir remplir une machine avant de faire un lavage. En multipliant les cycles de lavage, vous augmentez votre consommation d'&eacute;lectricit&eacute; et d'eau.\"};\n    break;\n  case 32:\n    objConseils = {noConseils: 32, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Si vous utilisez un s&egrave;che-linge, choisissez l'essorage maximal de votre machine &agrave; laver. Cette m&eacute;thode vous permet de moins consommer d'&eacute;lectricit&eacute; car votre s&egrave;che-linge fonctionne moins longtemps.\"};\n    break;\n  case 33:\n    objConseils = {noConseils: 33, nbConseils: 7, noTheme: 6 ,contenuConseils: \"M&ecirc;me radiateurs &eacute;teints, votre chaudi&egrave;re laiss&eacute;e en mode &quot;hiver&quot; continue &agrave; chauffer l&rsquo;eau du circuit. Pour satisfaire uniquement vos besoins en eau chaude, pensez &agrave; la r&eacute;gler en mode &quot;&eacute;t&eacute;&quot;.\"};\n    break;\n  case 34:\n    objConseils = {noConseils: 34, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Isolez les tuyaux d'eau chaude qui passent dans les pi&egrave;ces non chauff&eacute;es. Vous perdrez ainsi moins de chaleur et vous r&eacute;duirez votre facture.\"};\n    break;\n  case 35:\n    objConseils = {noConseils: 35, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Plus votre douche est rapide, moins vous consommez d'eau et d'&eacute;nergie. Pensez &agrave; arr&ecirc;ter le robinet quand vous vous savonnez.\"};\n    break;\n  case 36:\n    objConseils = {noConseils: 36, nbConseils: 7, noTheme: 6 ,contenuConseils: \"R&eacute;glez la temp&eacute;rature de votre ballon d'eau chaude entre 55 et 60 &deg;C pour l'eau chaude sanitaire, c'est assez pour limiter le d&eacute;veloppement de bact&eacute;ries pathog&egrave;nes, mais pas trop, pour &eacute;viter l'entartrage du chauffe-eau.\"};\n    break;\n  case 37:\n    objConseils = {noConseils: 37, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Si vous vous absentez de chez vous plusieurs jours, pensez &agrave; arr&ecirc;ter le ballon d'eau chaude avant de partir. Vous ferez des &eacute;conomies&nbsp;!\"};\n    break;\n  case 38:\n    objConseils = {noConseils: 38, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Lorsque vous faites la vaisselle &agrave; la main, ne laissez pas couler l'eau chaude en continu pour laver et rincer : remplissez les bacs de votre &eacute;vier.\"};\n    break;\n  case 39:\n    objConseils = {noConseils: 39, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Un robinet mitigeur &eacute;conomise 10 % d&rsquo;eau par rapport &agrave; un robinet classique. Avec un robinet thermostatique, c'est jusqu&rsquo;&agrave; 30% d&rsquo;&eacute;conomies.\"};\n    break;\ndefault:\nobjConseils = {noConseils: 0, nbConseils: 0, noTheme:9, contenuConseils: \"Erreur Switch Case\"};\n} \n\nswitch(objConseils.noTheme) {\n  case 1:\n    themeConseils = \"Chauffage\";\n    imageConseils = \"https://espace-client-particuliers.enedis.fr/documents/18080/44811167/chauffage-60.svg/6f11dfd4-9a7b-d10f-dff4-bb36656de1bb\";\n    break;\n  case 2:\n    themeConseils = \"Cuisine\";\n    imageConseils = \"https://espace-client-particuliers.enedis.fr/documents/18080/44811167/cuisine_60.svg/9e90f85e-6849-af79-19bc-e9d9f9ce75c4\";\n    break;\n  case 3:\n    themeConseils = \"Eco-gestes\";\n    imageConseils = \"https://espace-client-particuliers.enedis.fr/documents/18080/44811167/eclairage-60.svg/33e4fd7c-f3e6-f2f4-0a74-0f74a6e74340\";\n    break;\n  case 4:\n    themeConseils = \"Multim&eacute;dia\";\n    imageConseils = \"https://espace-client-particuliers.enedis.fr/documents/18080/44811167/multimedia-60.svg/54b55957-6f15-882d-5b2f-ef362c245185\";\n    break;\n  case 5:\n    themeConseils = \"Lavage\";\n    imageConseils = \"https://espace-client-particuliers.enedis.fr/documents/18080/44811167/lavage-60.svg/6a6c9fe3-541e-598f-b6b9-8f0829049908\";\n    break;\n  case 6:\n    themeConseils = \"Eau chaude\";\n    imageConseils = \"https://espace-client-particuliers.enedis.fr/documents/18080/44811167/eau_chaude-60.svg/38fb4f8e-f0a4-15f6-6692-9f96d666e329\";\n    break;\ndefault:\n    themeConseils = \"ErreurTheme\";\n    imageConseils = \"https://cdn.xl.thumbs.canstockphoto.com.br/resolver-problema-ilustra%C3%A7%C3%A3o-vetor-eps_csp37289030.jpg\";\n\n} \n\n\nvar msg1 = {};\nmsg1.noConseils = objConseils.noConseils;\nmsg1.nbConseils = objConseils.nbConseils;\nmsg1.contenuConseils = objConseils.contenuConseils;\n                            //.replace(/&apos;/g,\"'\")\n                            //.replace(/&rsquo;/g,\"'\")\n                            //.replace(/&quot;/g, '\"')\n                            //.replace(/&hellip;/g, ' ')\n                            //.replace(/&deg;/g,\"°\")\n                            //.replace(/&eacute;/g,\"é\")\n                            //.replace(/&icirc;/g,\"î\")\n                            //.replace(/&ecirc;/g, \"ê\")\n                            //.replace(/&egrave;/g,\"è\")\n                            //.replace(/&agrave;/g, \"à\"); //.replace(/&hellip;/g, ' ')\n                            \n                            // ESSAI POUR LES BALISES HTML ////\n                            // .replace(/</g, '&lt;')\n                            // .replace(/>/g, '&gt;')\n                            // .replace(/\\//g, '&#47;')\n                            \nmsg1.themeConseils = themeConseils;\n                            //.replace(/&eacute;/g,\"é\"); //.replace(/&hellip;/g, ' ')\n                            \nmsg1.imageConseils = imageConseils;\nmsg1.debug = int;\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":440,"y":1260,"wires":[["dd3f9b9f.9d8d5"]]},{"id":"b2ea9392.4f727","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"NEXT","targetType":"msg","x":610,"y":1300,"wires":[]},{"id":"dd3f9b9f.9d8d5","type":"template","z":"60b1046f.48a20c","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<style type=\"text/css\">\n    .BtnPlus {\nmargin-bottom: 0 !important;\n}\n\n.TxtNewSize {\nfont-size: 1.4em;\n}\n.SliderTitre {\nposition: absolute;\nX_z-index: 100;\ntransform: translateX(-50%);\nleft: 50%;\n}\n\n.container-slider{\nposition:relative;\n}\n.slider2 {\n  margin: 0 auto;\n  max-width: 940px;\nmargin-bottom: 25px;\nX_background: #f6f4f3;\n}\n\n.slide_viewer2 {\n  height: 340px;\n  overflow: hidden;\n  position: relative;\n}\n\n.slide_group2 {\n  height: 100%;\n  position: relative;\n  width: 100%;\n}\n\n.slide2 {\n  display: none;\n  height: 100%;\n  position: relative;\n  width: 100%;\n}\n\n.slide_content2 {\nposition: absolute;\ntop: 50%;\nleft: 40%;\ntransform: translateX(-34%)  translateY(-50%);\ntext-align: center;\n}\n\n.slide2:first-child {\n  display: block;\n}\n\n.slide2:nth-of-type(1) {\n  X_background: #F6F4F3 ;\n}\n\n.slide2:nth-of-type(2) {\n  X_background: #E8E4E0 ;\n}\n\n.slide2:nth-of-type(3) {\n  X_background: #F6F4F3 ;\n}\n\n.slide2:nth-of-type(4) {\n  X_background: #E8E4E0 ;\n}\n\n.slide2:nth-of-type(5) {\n  X_background: #F6F4F3 ;\n}\n\n.slide2:nth-of-type(6){\n  X_background: #E8E4E0 ;\n}\n\n.slide2:nth-of-type(7) {\n  X_background: #F6F4F3 ;\n}\n\n.slide_buttons2 {\n   position: absolute;\n   left: 50%;\n   transform: translateX(-50%);\n   bottom: 0;\n}\n\n.slide_btn2 {\n  color: #d3d3d3 !important;\n  font-size: 42px;\n  margin: 0 0.175em;\n  -webkit-transition: all 0.4s ease-in-out;\n  -moz-transition: all 0.4s ease-in-out;\n  -ms-transition: all 0.4s ease-in-out;\n  -o-transition: all 0.4s ease-in-out;\n  transition: all 0.4s ease-in-out;\n text-decoration: none !important;\n}\n\n\n.slide_btn2.active, .slide_btn2:hover {\n  color: #005EB8 !important;\n  cursor: pointer;\n}\n\n.directional_nav2 {\n  margin: 0 auto;\n  max-width: 940px;\n  position: relative;\n  top: -164px;\n}\n\n.previous_btn2 {\n  bottom: 0;\n  left: 10px;\n  margin: auto;\n  position: absolute;\n  top: 0;\n}\n\n.next_btn2 {\n  bottom: 0;\n  margin: auto;\n  position: absolute;\n  right: 10px;\n  top: 0;\n}\n\n.previous_btn2, .next_btn2 {\n  cursor: pointer;\n  height: 65px;\n  opacity: 0.5;\n  -webkit-transition: opacity 0.4s ease-in-out;\n  -moz-transition: opacity 0.4s ease-in-out;\n  -ms-transition: opacity 0.4s ease-in-out;\n  -o-transition: opacity 0.4s ease-in-out;\n  transition: opacity 0.4s ease-in-out;\n  width: 65px;\n}\n\n.previous_btn2:hover, .next_btn2:hover {\n  opacity: 1;\n}\n\n@media only screen and (max-width: 767px) {\n  .previous_btn2 {\n    left: 20px;\n  }\n  .next_btn2 {\n    right: 20px;\n  }\n\n.slide_buttons2 {\nbottom: -8px;\n}\n}\n\n@media only screen and (max-width: 420px) {\n  .previous_btn2 {\n    left: 10px;\n  }\n  .next_btn2 {\n    right: -5px;\n  }\n}\n</style>\n\n<div id=\"_56_INSTANCE_gI0uUKLFKcIn_\">\n    <div class=\"row-fluid\">\n<div class=\"container-slider\">\n<div class=\"SliderTitre TxtCenter TxtBold MarginTop10 MarginBottom15\">\n<table>\n    <tr><td>\n        <img    src={{imageConseils}}\n        style=\"height: 50.0px;\" /> &nbsp;&nbsp;\n        </td>\n        <td>\n            <p class=\"TxtNewSize MarginTop10\"\n      ng-bind-html=\"msg.themeConseils\"> <!-- Titre msg.themeconseil -->\n            </p> \n        </td>\n    </tr>\n</table>\n\n</div>\n\n<div\n        class=\"slider2\">\n<div class=\"slide_viewer2\">\n<div\n            class=\"slide_group2\">\n<div class=\"slide2\">\n\n<div class=\"slide_content2\" ng-bind-html=\"msg.contenuConseils\"></div> <!-- Contenu msg.contenuconseil -->\n\n</div>\n\n\n</div>\n</div>\n</div>\n\n\n<div  class=\"slide_buttons2\">&nbsp;</div>\n\n<div class=\"directional_nav2\"> \n<!-- CE BOUTON PREV NE FONCTIONNE PAS ?? -->\n<!-- <div class=\"previous_btn2\" title=\"Previous\" ng-click=\"send({PREV: {{noConseils}} })\"><img\n          src=\"http://sunshare.fr/github/enedis_previous.png\"\n          style=\"height: 50.0px;width: 50.0px;\" /></div>\n-->\n\n<div class=\"next_btn2\" title=\"Next\" ng-click=\"send({NEXT: {{noConseils}} })\"><img\n          src=\"http://sunshare.fr/github/enedis_next.png\" \n          style=\"height: 50.0px;width: 50.0px;\" /> </div>\n</div>\n\n</div>\n<div>\n<h3>Brochures utiles : </h3>\n<table>\n    <tr><td>\n        <p class=\"TxtCenter BtnPlus\">\n            <a  class=\"BtnLevel2 BtnPlus TargetBlank\"\n                href=\"https://www.enedis.fr/sites/default/files/Mieux_gerer_ma_consommation_delectricite_avec_le_nouveau_compteur_diffus.pdf\">\n                <img alt=\"Logo PDF\" src=\"https://sunshare.fr/github/acrobat_adobe_com.ico\" style=\"float: center ;width: 25%;\" />  ENEDIS\n            </a>\n        </p>\n    </td><td>\n        <p class=\"TxtCenter BtnPlus\">\n             <a  class=\"BtnLevel2 BtnPlus TargetBlank\"\n                href=\"https://www.ademe.fr/sites/default/files/assets/documents/guide-pratique-reduire-facture-electricite.pdf\">\n                <img alt=\"Logo PDF\" src=\"https://sunshare.fr/github/acrobat_adobe_com.ico\" style=\"float: center ;width: 25%;\" />  ADEME\n            </a>\n        </p>\n    </td></tr>\n</table>\n\n<h3>En savoir plus avec : </h3>\n<table>\n    <tr><td>\n       <p class=\"TxtCenter BtnPlus\">\n        <a  class=\"BtnLevel2 BtnPlus TargetBlank\"\n            href=\"https://espace-client-particuliers.enedis.fr/web/espace-particuliers/mieux-consommer\"> \n            <img alt=\"Logo ENEDIS\" src=\"http://sunshare.fr/github/enedis_logo.png\" style=\"float: center ;width: 90%;\" />\n        </a>\n    </p>\n    </td><td> \n        <p class=\"TxtCenter BtnPlus\">\n        <a  class=\"BtnLevel2 BtnPlus TargetBlank\"\n            href=\"http://www.ademe.fr/guides-fiches-pratiques\">\n            <img alt=\"Logo Ademe\" src=\"https://sunshare.fr/github/Logo_ADEME_v5.png\" style=\"float: center ;width: 90%;\" />\n        </a>\n        </p>\n    </td></tr>\n</table>\n\n    \n</div>\n</div>\n\n</div>\n\n\n\n<script type=\"text/javascript\">\n\n\n\n    $('.slider2').each(function() {\n  var $this = $(this);\n  var $group = $this.find('.slide_group2');\n  var $slides2 = $this.find('.slide2');\n\n\n  var bulletArray = [];\n  var currentIndex = 0;\n  var timeout;\n\n  function move(newIndex) {\n    var animateLeft, slideLeft;\n\n\n\n    if ($group.is(':animated') || currentIndex === newIndex) {\n      return;\n    }\n\n    bulletArray[currentIndex].removeClass('active');\n    bulletArray[newIndex].addClass('active');\n\n    if (newIndex > currentIndex) {\n      slideLeft = '100%';\n      animateLeft = '-100%';\n    } else {\n      slideLeft = '-100%';\n      animateLeft = '100%';\n    }\n\n    $slides2.eq(newIndex).css({\n      display: 'block',\n      left: slideLeft\n    });\n    $group.animate({\n      left: animateLeft\n    }, function() {\n      $slides2.eq(currentIndex).css({\n        display: 'none'\n      });\n      $slides2.eq(newIndex).css({\n        left: 0\n      });\n      $group.css({\n        left: 0\n      });\n      currentIndex = newIndex;\n    });\n  }\n\n\n\n\n  function advance() {\n    clearTimeout(timeout);\n    timeout = setTimeout(function() {\n      if (currentIndex < ($slides2.length - 1)) {\n        move(currentIndex + 1);\n      } else {\n        move(0);\n      }\n    }, 6000);\n  }\n\n  $('.next_btn2').on('click', function() {\n    if (currentIndex < ($slides2.length - 1)) {\n      move(currentIndex + 1);\n    } else {\n      move(0);\n    }\n  });\n\n  $('.previous_btn2').on('click', function() {\n    if (currentIndex !== 0) {\n      move(currentIndex - 1);\n    } else {\n      move(3);\n    }\n  });\n\n  $.each($slides2, function(index) {\n    var $button = $('<a class=\"slide_btn2\">&bull;</a>');\n\n    if (index === currentIndex) {\n      $button.addClass('active');\n    }\n    $button.on('click', function() {\n      move(index);\n    }).appendTo('.slide_buttons2');\n    bulletArray.push($button);\n  });\n\n});\n\n\n\n    $(function() {\n        $(\"#_56_INSTANCE_gI0uUKLFKcIn_ .TargetBlank\").attr(\"target\", \"_blank\");\n                                });\n</script>\n\n","output":"str","x":280,"y":1300,"wires":[["74f1e59b.01a92c"]]},{"id":"e97fb18b.edd568","type":"debug","z":"60b1046f.48a20c","name":"!! msg.PREV (HS)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"PREV","targetType":"msg","x":670,"y":1280,"wires":[]},{"id":"8711677c.c9edf","type":"debug","z":"60b1046f.48a20c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":460,"wires":[]},{"id":"aced8f60.64b19","type":"comment","z":"60b1046f.48a20c","name":"SIMULATEUR","info":"SIMULATEUR DE TIC A BRANCHER sur \nTICTEST et IMPserie\n\nUn générateur de timestamp permet de reculer de 20 ans pour accélérer le temps","x":890,"y":60,"wires":[]},{"id":"e56f4744.22ac3","type":"comment","z":"60b1046f.48a20c","name":"TIC ET IMPULS","info":"NOEUDS A CONNECTER AUX IMPULISONS ET A LA TIC","x":140,"y":380,"wires":[]},{"id":"c51a9a46.6cf598","type":"comment","z":"60b1046f.48a20c","name":"METEO","info":"OpenweatherMap API key : 7997e8bbdce33a3a717b14e9da5f0dce","x":130,"y":1040,"wires":[]},{"id":"3f47f4f4.4433b4","type":"comment","z":"60b1046f.48a20c","name":"GRAPHS","info":"Rendus des graphs et variables globales","x":140,"y":680,"wires":[]},{"id":"d2d4b8dd.06cc58","type":"comment","z":"60b1046f.48a20c","name":"DEMARRER","info":"SIMULATEUR DE TIC A BRANCHER sur \nTICTEST et IMPserie\n\nUn générateur de timestamp permet de reculer de 20 ans pour accélérer le temps","x":123,"y":240,"wires":[]},{"id":"36e6aac7.84af36","type":"ui_text","z":"60b1046f.48a20c","group":"ce072d05.42146","order":1,"width":0,"height":0,"name":"Date","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":620,"wires":[]},{"id":"ccea1629.c4407","type":"ui_text","z":"60b1046f.48a20c","group":"baa849fc.7e0f78","order":3,"width":0,"height":0,"name":"Autoconsommation","label":"Autoconso.","format":"{{msg.payload}} kWh","layout":"row-spread","x":1230,"y":680,"wires":[]},{"id":"e41526af.cbaa8","type":"ui_text","z":"60b1046f.48a20c","group":"baa849fc.7e0f78","order":4,"width":0,"height":0,"name":"Production","label":"Production","format":"{{msg.payload}} kWh","layout":"row-spread","x":1070,"y":700,"wires":[]},{"id":"2a9e4682.b22a42","type":"ui_text","z":"60b1046f.48a20c","group":"baa849fc.7e0f78","order":5,"width":0,"height":0,"name":"Injection","label":"Injection","format":"{{msg.payload}} kWh","layout":"row-spread","x":1036,"y":668,"wires":[]},{"id":"72bec5a4.fbbaac","type":"ui_text","z":"60b1046f.48a20c","group":"ce072d05.42146","order":3,"width":0,"height":0,"name":"Caisse commune","label":"Caisse commune","format":"{{msg.payload}} kWh","layout":"row-spread","x":1150,"y":720,"wires":[]},{"id":"731e2506.61c4ec","type":"ui_text","z":"60b1046f.48a20c","group":"432cb2e6.dd78fc","order":0,"width":0,"height":0,"name":"SoutirIdx","label":"SoutirIdx","format":"{{msg.payload}} kWh","layout":"row-spread","x":1187.9999389648438,"y":441,"wires":[]},{"id":"910987be.0538b8","type":"ui_text","z":"60b1046f.48a20c","group":"432cb2e6.dd78fc","order":1,"width":0,"height":0,"name":"InjectIdx","label":"InjectIdx","format":"{{msg.payload}} kWh","layout":"row-spread","x":1187.9999389648438,"y":457,"wires":[]},{"id":"9f2cb579.24e91","type":"ui_text","z":"60b1046f.48a20c","group":"432cb2e6.dd78fc","order":2,"width":0,"height":0,"name":"ProdIdx","label":"ProdIdx","format":"{{msg.payload}} kWh","layout":"row-spread","x":1187.9999389648438,"y":481,"wires":[]},{"id":"cd9b95bc.41fe6","type":"ui_text","z":"60b1046f.48a20c","group":"baa849fc.7e0f78","order":2,"width":0,"height":0,"name":"Soutirage","label":"Soutirage","format":"{{msg.payload}} kWh","layout":"row-spread","x":1020,"y":640,"wires":[]},{"id":"c505fffc.643758","type":"ui_text","z":"60b1046f.48a20c","group":"432cb2e6.dd78fc","order":3,"width":0,"height":0,"name":"ConsoIdx","label":"ConsoIdx","format":"{{msg.payload}} kWh","layout":"row-spread","x":1187.6166381835938,"y":508.5,"wires":[]},{"id":"98ed47ad.51e498","type":"ui_text","z":"60b1046f.48a20c","group":"b9ee9665.1941b","order":1,"width":"0","height":"0","name":"Météo à","label":"","format":"{{msg.payload}}","layout":"row-center","x":769.5166015625,"y":999.75,"wires":[]},{"id":"4291fa77.f9249c","type":"ui_text","z":"60b1046f.48a20c","group":"b9ee9665.1941b","order":3,"width":0,"height":0,"name":"","label":"Temp : ","format":"{{msg.payload}} &degC","layout":"row-center","x":757.88330078125,"y":965.7666625976562,"wires":[]},{"id":"9f060ec5.4510d","type":"ui_text","z":"60b1046f.48a20c","group":"6bc8951f.8f5abc","order":3,"width":0,"height":0,"name":"","label":"Pointe de conso : ","format":"{{msg.payload  | number: 0}} W","layout":"row-spread","x":1305.37890625,"y":1006.1171875,"wires":[]},{"id":"2abaeb0d.6de75c","type":"ui_text","z":"60b1046f.48a20c","group":"6bc8951f.8f5abc","order":4,"width":0,"height":0,"name":"","label":"Talon de conso :","format":"{{msg.payload  | number: 0}} W","layout":"row-spread","x":1294.390625,"y":971.1171875,"wires":[]},{"id":"20c105aa.621b7a","type":"ui_text","z":"60b1046f.48a20c","group":"6bc8951f.8f5abc","order":5,"width":"0","height":"0","name":"","label":"Objectif Conso :","format":"{{msg.payload | number: 0}} kWh/j","layout":"row-spread","x":1153.6667022705078,"y":1041.4333038330078,"wires":[]},{"id":"e2ee0ffe.de965","type":"ui_text","z":"60b1046f.48a20c","group":"6bc8951f.8f5abc","order":1,"width":0,"height":0,"name":"Date - Heure","label":"_________","format":"{{msg.payload}}","layout":"col-center","x":1200,"y":340,"wires":[]},{"id":"8c51e32d.f2ce88","type":"ui_text","z":"60b1046f.48a20c","group":"6bc8951f.8f5abc","order":2,"width":0,"height":0,"name":"Vide","label":"________","format":"{{msg.payload}}","layout":"row-center","x":1170,"y":300,"wires":[]},{"id":"ce40e7ff.ac3e18","type":"ui_gauge","z":"60b1046f.48a20c","name":"Tension eff. - URMS1","group":"b7a72834.b7abc8","order":2,"width":"3","height":"2","gtype":"gage","title":"Tension eff.","label":"V","format":"{{value}}","min":"215","max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"225","seg2":"230","x":1215,"y":371,"wires":[]},{"id":"4a9bcc5b.3d2784","type":"ui_gauge","z":"60b1046f.48a20c","name":"Puiss App SINSTS","group":"b7a72834.b7abc8","order":1,"width":"3","height":"2","gtype":"gage","title":"Puissance inst.","label":"Watt / VA","format":"{{value}}","min":"100","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"1000","x":1207,"y":402,"wires":[]},{"id":"1dba7e7e.55980a","type":"ui_gauge","z":"60b1046f.48a20c","name":"Cagnotte","group":"567b1b74.384684","order":3,"width":"4","height":"4","gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":840,"wires":[]},{"id":"b42e7b24.3f3388","type":"ui_chart","z":"60b1046f.48a20c","name":"Auto&Inject Graph","group":"265db1c0.bae6a6","order":1,"width":"6","height":"5","label":"Puissance par intervalle (15 min, en W) :","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"2000","removeOlder":"2","removeOlderPoints":"220","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#98df8a","#848585","#17a822","#eb7b16","#1f77b4","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":800,"wires":[["4133904.7bf91f"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"56b707ea.485418","type":"ui_chart","z":"60b1046f.48a20c","name":"Bonus : Conso&Prod","group":"ce072d05.42146","order":5,"width":"0","height":"0","label":"Consommation & Production","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"220","removeOlderUnit":"86400","cutout":"20","useOneColor":false,"useUTC":false,"colors":["#258bd1","#eb7b16","#fcfc44","#1c5e8b","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":960,"y":760,"wires":[[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"96582009.96676","type":"ui_chart","z":"60b1046f.48a20c","name":"Bonus : Prod demain","group":"ce072d05.42146","order":4,"width":0,"height":0,"label":"production demain","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8000","#fcfc44","#e4ff6f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1173.683349609375,"y":1092.0833129882812,"wires":[[]]},{"id":"4dec18b.33df768","type":"ui_chart","z":"60b1046f.48a20c","name":"Bonus : nébulosité","group":"ce072d05.42146","order":7,"width":0,"height":0,"label":"clarté du ciel demain","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#c90089","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890.566650390625,"y":1139.36669921875,"wires":[[]]},{"id":"bd7b3367.c4a3a8","type":"ui_chart","z":"60b1046f.48a20c","name":"Prevision & Production","group":"d4bbed56.cd0ff","order":1,"width":"6","height":"5","label":"Puissance par intervalle (15 min, en W) :","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"2000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e4860e","#258bd1","#fcfc44","#e4ff6f","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":940,"wires":[[]]},{"id":"2e07e279.7d770e","type":"ui_chart","z":"60b1046f.48a20c","name":"Auto&Inj donut","group":"265db1c0.bae6a6","order":5,"width":0,"height":0,"label":"pour hier (kWh) : ","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#afadad","#98df8a","#595454","#595454","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1240,"y":760,"wires":[[]]},{"id":"120e603a.f33058","type":"ui_chart","z":"60b1046f.48a20c","name":"Conso&Prod Donut","group":"d4bbed56.cd0ff","order":0,"width":0,"height":0,"label":"pour hier (kWh) :","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#1f77b4","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":780,"wires":[[]]},{"id":"293cb67c.a401ca","type":"ui_ui_control","z":"60b1046f.48a20c","name":"","x":440,"y":860,"wires":[[]]},{"id":"d9e98ae.e9e2c78","type":"ui_ui_control","z":"60b1046f.48a20c","name":"","events":"all","x":600,"y":1320,"wires":[[]]},{"id":"3a8e466d.277f0a","type":"ui_template","z":"60b1046f.48a20c","group":"b9ee9665.1941b","name":"Weather icon","order":2,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-3x wi wi-owm-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":779.5166015625,"y":1033.75,"wires":[[]]},{"id":"2d2c04e6.07f2cc","type":"ui_template","z":"60b1046f.48a20c","group":"ce072d05.42146","name":"Bonus : Auto&Inj ChartJS","order":8,"width":0,"height":0,"format":"<h3 align=\"center\">pour hier (kWh) : </h3>\n\n<canvas id=\"myChart4\" width=\"240\" height=\"138\"></canvas>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n// Do something when msg arrives \nvar ctx = document.getElementById('myChart4').getContext('2d');\nvar EXT = msg.payload[0];\nvar INT = msg.payload[1];\nvar LABELS = msg.payload[2]; // 1er jour ou ['injection', 'autoconso.', 'soutirage', '--', '☺']\nvar donut = {\n    type: 'doughnut',\n    data: {\n        labels: LABELS,\n        datasets: [{\n            label: 'pour hier',\n            data: EXT, //Cercle exterieur\n            backgroundColor: [\n                'rgba(152, 223, 138, 0.2)',\n                'rgba(44, 160, 44, 0.2)',\n                'rgba(132, 133, 133, 0.2)',\n                'rgba(0, 0, 0, 0)',\n                'rgba(0, 0, 0, 0)',\n            ],\n            borderColor: [\n                'rgba(152, 223, 138, 1)',\n                'rgba(44, 160, 44, 1)',\n                'rgba(132, 133, 133, 1)',\n                'rgba(0, 0, 0, 0)',\n                'rgba(0, 0, 0, 0)',\n            ],\n            borderWidth: 1.5\n        },\n        {data: INT,\n            backgroundColor: [\n                'rgba(152, 223, 138, 0.2)',\n                'rgba(44, 160, 44, 0.2)',\n                'rgba(132, 133, 133, 0.2)',\n                'rgba(0, 0, 0, 0)',\n                'rgba(0, 0, 0, 0)',\n            ],\n            borderColor: [\n                'rgba(152, 223, 138, 1)',\n                'rgba(44, 160, 44, 1)',\n                'rgba(132, 133, 133, 1)',\n                'rgba(0, 0, 0, 0)',\n                'rgba(0, 0, 0, 0)',\n            ],\n            borderWidth: 1.5\n        }\n        ]\n    },\n    options: {\n        title: {\n            display: false,\n            fontsize: 14,\n            text: 'Total de Pedidos por Situação'\n        },\n        legend: {\n            display: true,\n            position: 'left',\n            align : 'start',\n            labels: {\n                boxWidth: 9,\n                fontColor: 'rgba(0, 0, 0, 1)',\n            }\n        },\n        scales: {\n           yAxes: [{\n                display : false,\n                gridLines: {\n                    display: false,\n                },\n                ticks: {\n                    display: false,\n                    beginAtZero: false,\n                },\n            }]\n        }\n    } \n};\n\nvar myChart4 = new Chart(ctx, donut);\n}\n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1290,"y":800,"wires":[["db85b662.4bd1e"]]},{"id":"527355b7.7c8a84","type":"ui_template","z":"60b1046f.48a20c","group":"b7a72834.b7abc8","name":"Head template","order":2,"width":0,"height":0,"format":"<!--</Deject>--> <!DOCTYPE html> <!--\n  Copyright 2019 SunShare, Polytech Nantes, https://sunshare.fr/boxenergie/\n \n  Licensed under the AGPL\n\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n--> \n<html lang=\"fr\" manifest=\"dashboard.appcache\">\n\n<title>Boxenergie Sun<b>Share</b> - Electricité en commun a Nantes - économies et troc d'énergie</title> \n<meta name=\"description\" content=\"SunShare développe une box énergie libre pour les économies d'énergie et le troc d'électricité avec Raspberry Pi et Node RED. Nous développons une solution libre d'affichage de la consommation et production d'électricité.\nVous pouvez rejoindre la communauté. Ecrivez à contact(AT)sunshare.fr\">\n<link rel=\"stylesheet/less\" href=\"css/app.min.less\"> \n\n<style>\n\n.md-toolbar-tools h1{\n        text-align: left;\n        width: 250px;\n    }\n    \n.btnHome_class {\n        background-color: #4CAF50; /* Green */\n        border: none;\n        color: white;\n        padding: 10px 10px;\n        text-align: center;\n        text-decoration: none;\n        display: inline-block;\n        font-size: 16px;\n    }\n    \nbody {\n        background-image : url('http://sunshare.fr/github/wait.gif');\n        background-position: center;\n        background-size: 100px;\n        background-repeat: no-repeat;\n    }\n\n</style>\n\n<!-- \n.md-toolbar-tools{\n        background-image: url(\"http://sunshare.fr/assets/images/SnSr_maison.png\");\n        background-repeat: no-repeat;\n        margin-left: 0px;\n        background-size: 80px; \n        background-position: 50px;\n        \n    }\n-->","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":320,"y":820,"wires":[[]]},{"id":"e80b71c0.e928b","type":"ui_template","z":"60b1046f.48a20c","group":"a1df11f1.7648f8","name":"A propos - Sources","order":1,"width":0,"height":0,"format":"<h3>La boxénergie est un projet libre </h3>\n<p><img alt=\"CopyLeft\"\n    src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Copyleft.svg/512px-Copyleft.svg.png\" style=\"float: left ;width: 5%;\" />\n    &nbsp; &nbsp;\n    \n<a href=\"https://sunshare.fr/boxenergie\" target=\"_blank\"> A propos</a>\n</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":330,"y":900,"wires":[[]]},{"id":"74f1e59b.01a92c","type":"ui_template","z":"60b1046f.48a20c","group":"dc58a71a.3a1d9","name":"","order":1,"width":"6","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":440,"y":1320,"wires":[["b2ea9392.4f727","e97fb18b.edd568","95b80181.811c58","d9e98ae.e9e2c78"]]},{"id":"868f58e0.1a0718","type":"ui_template","z":"60b1046f.48a20c","group":"a1df11f1.7648f8","name":"TopBar","order":1,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n\nvar home = new Object();\nhome.payload = 'Home'; // This is the payload that goes out\n    \nvar theScope = scope;\nvar clockInterval;\n    \n$(function () {\n    if (clockInterval) return;\n    \n    //add logo\n    var divLogo = $('<div/>');\n    var logo = new Image();\n\n    logo.src = 'http://sunshare.fr/assets/images/SnSr_maison.png'\n    logo.height = 45;\n    divLogo[0].style.margin = '10px auto';\n\n    divLogo.append(logo);\n\n   \n    //add clock\n    var divClock = $('<div />');\n    var p = $('<p />');\n    divClock.append(p);\n    divClock[0].style.margin = '15px';\n   \n    function addZero(i) {\n        if (i < 10) {\n            i = \"0\" + i\n        }\n        return i;\n    }\n\n    function formatDate(date) {\n        var monthNames = [\"Jan.\", \"Fév.\", \"Mars\", \"Avr.\", \"Mai\", \"Juin\", \"Juil.\", \"Août\", \"Sept.\", \"Oct.\", \"Nov.\", \"Déc.\"];\n        var day = date.getDate();\n        var monthIndex = date.getMonth();\n        var year = date.getFullYear();\n        var hour = addZero(date.getHours());\n        var minute = addZero(date.getMinutes());\n        var second = addZero(date.getSeconds());\n        return day + '. ' + monthNames[monthIndex] + ' ' + year + \" - \" + hour +':' + minute; //  + ':' + second;\n    }\n \n    function displayTime() {\n        p.text( formatDate( new Date() ) );\n    }\n    \n    clockInterval = setInterval(displayTime, 1000);\n    \n    // add Text\n    var divText = $('<div />');\n    var t = document.createTextNode(\"Boxénergie démo page - SunShare\"); // <== add title here\n    divText.append(t)\n    divText[0].style.margin = '40px auto';\n    divText[0].style.size = '40';\n    \n    // add button\n    var divButton = $('<div />');\n    var button = document.createElement(\"BUTTON\");\n    var b = document.createTextNode(\"Home Screen\")\n    button.height=40;\n    button.width=40;\n    button.appendChild(b);\n    button.addEventListener(\"click\", doIT.bind(null,home));\n    divButton.append(button);\n    \n    //\n    // Add Button picture button\n    //\n    \n    //var divPicButton =$('<div />'); //old statement from forum.\n    var divPicButton = document.createElement (\"div\");\n    var btn_Home = document.createElement(\"BUTTON\");\n    btn_Home.setAttribute(\"class\", \"btnHome_class\");\n    \n    var pic = new Image();\n    pic.src = \"/Home1.png\"; // <== add path and filename of picture here\n    pic.height=40;\n    pic.width=40;\n    btn_Home.appendChild(pic);\n    pic.addEventListener(\"click\", doThis.bind(null,home));\n    divPicButton.append(btn_Home);\n        \n    //add to toolbar when it's available\n    var addToToolbarTimer;\n     \n    function addToToolbar() {\n    \n        var toolbar = $('.md-toolbar-tools');\n        if(!toolbar.length) return;\n    \n        toolbar.append(divLogo);\n        toolbar.append(divText);\n        toolbar.append(divClock);\n//        toolbar.append(divPicButton)\n        clearInterval(addToToolbarTimer);\n    }\n    \n    addToToolbarTimer = setInterval(addToToolbar, 1000);\n    \n    function doIT(m){\n        theScope.send( m )\n    }\n\n    function doThis(m){\n        theScope.send( m )\n    }\n\n});\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":300,"y":860,"wires":[["293cb67c.a401ca"]]},{"id":"e7ac7f1d.0d6168","type":"ui_template","z":"60b1046f.48a20c","group":"567b1b74.384684","name":"Cagnotte template","order":1,"width":0,"height":0,"format":"<style>\n    #MA_BOXENERGIE_Cagnotte_cards {\n        font-size: 30px !important;\n        background-color: \"rgba(0,0,0,0)\"; !important;\n        /*background-image: url(\"http://sunshare.fr/assets/images/SnSr_maison.png\");*/\n        background-image: url(\"http://sunshare.fr/github/SnSr_logoJaune_level_clairC.png\"); /*http://sunshare.fr/github/sunshare_clair_logo_trok.png*/\n        background-size: 100%;\n        /*z-index: 100;*/\n        /*transform: translate(0px, 100px); */\n    }\n   \n       body.nr-dashboard-theme md-content md-card { background-color: rgba(255,255,255,0); }\n       body.nr-dashboard-gauge  { transform: translate(15px, 0px); }\n\n   \n</style>\n\n<!-- .nr-dashboard-theme ui-card-panel ng-scope { background-color: rgba(255,255,255,0); } \n     ui-card-panel -->","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":330,"y":780,"wires":[[]]},{"id":"d58b805d.8712c8","type":"statistics","z":"60b1046f.48a20c","name":"","dataSetSize":0,"inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"parameter","parameterFieldType":"msg","stripFunction":true,"resultOnly":true,"x":1130.015625,"y":972.39453125,"wires":[["2abaeb0d.6de75c"]]},{"id":"d54d5808.c19ed8","type":"statistics","z":"60b1046f.48a20c","name":"","dataSetSize":0,"inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"parameter","parameterFieldType":"msg","stripFunction":true,"resultOnly":true,"x":1131.765625,"y":1004.75,"wires":[["9f060ec5.4510d"]]},{"id":"abd575d0.5e6308","type":"counter","z":"60b1046f.48a20c","name":"PROD_impulsion","init":"6465930","step":"0.5","lower":null,"upper":null,"mode":"increment","outputs":1,"x":250,"y":460,"wires":[["ee1f7711.777d"]],"outputLabels":["msg1.payload"]},{"id":"db28ddb4.30acb8","type":"counter","z":"60b1046f.48a20c","name":"PROD_impulsion","init":"99999","step":"0.5","lower":null,"upper":null,"mode":"increment","outputs":1,"x":230,"y":540,"wires":[["9f0b4b36.b38dc"]],"outputLabels":["msg1.payload"]},{"id":"737279c5.c2b928","type":"openweathermap","z":"60b1046f.48a20c","name":"meteo","wtype":"current","lon":"","lat":"","city":"orvault","country":"FR","language":"fr","x":500.84996032714844,"y":1058.0833435058594,"wires":[["a7aabfc6.fe1af","ce8965a6.092a5"]]},{"id":"b524df15.b6c138","type":"openweathermap","z":"60b1046f.48a20c","name":"forecast","wtype":"forecast","lon":"","lat":"","city":"orvault","country":"FR","language":"fr","x":618.5166778564453,"y":1099.0833435058594,"wires":[["dd91e65a.43576","ec4ac4cc.60c6c"]]},{"id":"7833113f.7d8a5","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"[{\"series\":[\"inject\",\"soutir\",\"autoconso\"],\"data\":[[{\"x\":1587249569166,\"y\":0},{\"x\":1587250649167,\"y\":0},{\"x\":1587251549170,\"y\":0},{\"x\":1587252449168,\"y\":0},{\"x\":1587253349166,\"y\":0},{\"x\":1587254249170,\"y\":0},{\"x\":1587255149172,\"y\":0},{\"x\":1587256229172,\"y\":0},{\"x\":1587257129174,\"y\":0},{\"x\":1587258029174,\"y\":0},{\"x\":1587258929177,\"y\":0},{\"x\":1587259829177,\"y\":0},{\"x\":1587260729182,\"y\":0},{\"x\":1587261809179,\"y\":0},{\"x\":1587262709181,\"y\":0},{\"x\":1587263609182,\"y\":0},{\"x\":1587264689180,\"y\":0},{\"x\":1587265589181,\"y\":0},{\"x\":1587266489180,\"y\":0},{\"x\":1587267569179,\"y\":0},{\"x\":1587268469178,\"y\":0},{\"x\":1587269369183,\"y\":0},{\"x\":1587270269183,\"y\":0},{\"x\":1587271169185,\"y\":0},{\"x\":1587272069188,\"y\":0},{\"x\":1587273149185,\"y\":0},{\"x\":1587274229185,\"y\":0},{\"x\":1587275309181,\"y\":0},{\"x\":1587276209180,\"y\":0},{\"x\":1587277109189,\"y\":0},{\"x\":1587278009187,\"y\":0},{\"x\":1587278909187,\"y\":0},{\"x\":1587279809191,\"y\":40},{\"x\":1587280709188,\"y\":12},{\"x\":1587281609190,\"y\":0},{\"x\":1587282509189,\"y\":20},{\"x\":1587283589189,\"y\":47},{\"x\":1587284669189,\"y\":90},{\"x\":1587285569193,\"y\":0},{\"x\":1587286469192,\"y\":4},{\"x\":1587287369192,\"y\":132},{\"x\":1587288269193,\"y\":144},{\"x\":1587289169194,\"y\":56},{\"x\":1587290069196,\"y\":28},{\"x\":1587290969197,\"y\":0},{\"x\":1587292049196,\"y\":0},{\"x\":1587292949196,\"y\":0},{\"x\":1587293849197,\"y\":0},{\"x\":1587294749198,\"y\":0},{\"x\":1587295649194,\"y\":0},{\"x\":1587296549198,\"y\":0},{\"x\":1587297449195,\"y\":0},{\"x\":1587298349199,\"y\":0},{\"x\":1587299429200,\"y\":0},{\"x\":1587300329204,\"y\":0},{\"x\":1587301229201,\"y\":0},{\"x\":1587302129202,\"y\":0},{\"x\":1587303029202,\"y\":0},{\"x\":1587303929203,\"y\":0},{\"x\":1587305009203,\"y\":0},{\"x\":1587305909200,\"y\":0},{\"x\":1587306809209,\"y\":0},{\"x\":1587307709208,\"y\":0},{\"x\":1587308609209,\"y\":0},{\"x\":1587309509209,\"y\":0},{\"x\":1587310409211,\"y\":0},{\"x\":1587311309212,\"y\":0},{\"x\":1587312209214,\"y\":0},{\"x\":1587313109217,\"y\":0},{\"x\":1587314009214,\"y\":0},{\"x\":1587314909215,\"y\":0},{\"x\":1587315809215,\"y\":0},{\"x\":1587316709216,\"y\":0},{\"x\":1587317609221,\"y\":0},{\"x\":1587318509218,\"y\":0},{\"x\":1587319409224,\"y\":0},{\"x\":1587320309222,\"y\":0},{\"x\":1587321389222,\"y\":0},{\"x\":1587322469224,\"y\":0},{\"x\":1587323369232,\"y\":0},{\"x\":1587324449218,\"y\":0},{\"x\":1587325529224,\"y\":0},{\"x\":1587326609224,\"y\":0},{\"x\":1587327509223,\"y\":0},{\"x\":1587328409225,\"y\":0},{\"x\":1587329309227,\"y\":0},{\"x\":1587330209229,\"y\":0},{\"x\":1587331109230,\"y\":0},{\"x\":1587332009232,\"y\":0},{\"x\":1587332909233,\"y\":0},{\"x\":1587333989230,\"y\":0},{\"x\":1587334889239,\"y\":0},{\"x\":1587335969234,\"y\":0},{\"x\":1587337049233,\"y\":0},{\"x\":1587337949238,\"y\":0},{\"x\":1587338849238,\"y\":0},{\"x\":1587339749240,\"y\":0},{\"x\":1587340649244,\"y\":0},{\"x\":1587341729243,\"y\":0},{\"x\":1587342809245,\"y\":0},{\"x\":1587343709246,\"y\":0},{\"x\":1587344609246,\"y\":0},{\"x\":1587345509248,\"y\":0},{\"x\":1587346409250,\"y\":0},{\"x\":1587347309253,\"y\":0},{\"x\":1587348389254,\"y\":0},{\"x\":1587349289256,\"y\":0},{\"x\":1587350189258,\"y\":0},{\"x\":1587351269257,\"y\":0},{\"x\":1587352349257,\"y\":0},{\"x\":1587353249261,\"y\":0},{\"x\":1587354149262,\"y\":0},{\"x\":1587355049259,\"y\":0},{\"x\":1587355949260,\"y\":0},{\"x\":1587356849261,\"y\":0},{\"x\":1587357929260,\"y\":0},{\"x\":1587358829261,\"y\":0},{\"x\":1587359729261,\"y\":0},{\"x\":1587360629263,\"y\":0},{\"x\":1587361529265,\"y\":0},{\"x\":1587362429269,\"y\":0},{\"x\":1587363329265,\"y\":0},{\"x\":1587364409265,\"y\":0},{\"x\":1587365309269,\"y\":0},{\"x\":1587366209270,\"y\":0},{\"x\":1587367109266,\"y\":0},{\"x\":1587368009267,\"y\":0},{\"x\":1587369089268,\"y\":0},{\"x\":1587369989268,\"y\":0},{\"x\":1587370889269,\"y\":0},{\"x\":1587371789272,\"y\":0},{\"x\":1587372689270,\"y\":0},{\"x\":1587373589271,\"y\":0},{\"x\":1587374489276,\"y\":0},{\"x\":1587375389291,\"y\":0},{\"x\":1587376289292,\"y\":0},{\"x\":1587377189293,\"y\":0},{\"x\":1587378089292,\"y\":0},{\"x\":1587378989294,\"y\":0},{\"x\":1587379889291,\"y\":0},{\"x\":1587380789295,\"y\":0},{\"x\":1587381869296,\"y\":0},{\"x\":1587382769296,\"y\":0},{\"x\":1587383669297,\"y\":0},{\"x\":1587384569298,\"y\":0},{\"x\":1587385649298,\"y\":0},{\"x\":1587386549298,\"y\":0},{\"x\":1587387449298,\"y\":0},{\"x\":1587388529299,\"y\":0},{\"x\":1587389429299,\"y\":0},{\"x\":1587390329302,\"y\":0},{\"x\":1587391409302,\"y\":0},{\"x\":1587392489302,\"y\":0},{\"x\":1587393569302,\"y\":0},{\"x\":1587394469304,\"y\":0},{\"x\":1587395369301,\"y\":0},{\"x\":1587396449305,\"y\":0},{\"x\":1587397349307,\"y\":0},{\"x\":1587398429307,\"y\":0},{\"x\":1587399329307,\"y\":0},{\"x\":1587400229309,\"y\":0},{\"x\":1587401129309,\"y\":0},{\"x\":1587402029310,\"y\":0},{\"x\":1587402929313,\"y\":0},{\"x\":1587403829313,\"y\":0},{\"x\":1587404729315,\"y\":0},{\"x\":1587405629311,\"y\":0},{\"x\":1587406529316,\"y\":0},{\"x\":1587407429322,\"y\":0},{\"x\":1587408329319,\"y\":0},{\"x\":1587409229320,\"y\":0},{\"x\":1587410129316,\"y\":0},{\"x\":1587411029324,\"y\":0},{\"x\":1587411929322,\"y\":0},{\"x\":1587412829323,\"y\":0},{\"x\":1587413729325,\"y\":0},{\"x\":1587414629325,\"y\":0},{\"x\":1587415529324,\"y\":0},{\"x\":1587416429326,\"y\":0},{\"x\":1587417329332,\"y\":0},{\"x\":1587418229330,\"y\":0},{\"x\":1587419129331,\"y\":0},{\"x\":1587420029332,\"y\":0},{\"x\":1587420929333,\"y\":0},{\"x\":1587421937998,\"y\":0},{\"x\":1587422009327,\"y\":0}],[{\"x\":1587249569173,\"y\":396},{\"x\":1587250649174,\"y\":403},{\"x\":1587251549177,\"y\":340},{\"x\":1587252449175,\"y\":216},{\"x\":1587253349166,\"y\":188},{\"x\":1587254249176,\"y\":264},{\"x\":1587255149183,\"y\":240},{\"x\":1587256229179,\"y\":170},{\"x\":1587257129181,\"y\":176},{\"x\":1587258029184,\"y\":268},{\"x\":1587258929184,\"y\":184},{\"x\":1587259829183,\"y\":180},{\"x\":1587260729188,\"y\":160},{\"x\":1587261809185,\"y\":240},{\"x\":1587262709191,\"y\":216},{\"x\":1587263609188,\"y\":156},{\"x\":1587264689186,\"y\":180},{\"x\":1587265589188,\"y\":236},{\"x\":1587266489191,\"y\":212},{\"x\":1587267569186,\"y\":177},{\"x\":1587268469178,\"y\":156},{\"x\":1587269369190,\"y\":244},{\"x\":1587270269190,\"y\":212},{\"x\":1587271169196,\"y\":168},{\"x\":1587272069196,\"y\":176},{\"x\":1587273149192,\"y\":203},{\"x\":1587274229191,\"y\":217},{\"x\":1587275309184,\"y\":110},{\"x\":1587276209180,\"y\":100},{\"x\":1587277109196,\"y\":152},{\"x\":1587278009194,\"y\":92},{\"x\":1587278909194,\"y\":16},{\"x\":1587279809198,\"y\":0},{\"x\":1587280709195,\"y\":8},{\"x\":1587281609197,\"y\":104},{\"x\":1587282509196,\"y\":224},{\"x\":1587283589196,\"y\":0},{\"x\":1587284669196,\"y\":0},{\"x\":1587285569199,\"y\":64},{\"x\":1587286469199,\"y\":1207},{\"x\":1587287369202,\"y\":124},{\"x\":1587288269200,\"y\":0},{\"x\":1587289169205,\"y\":0},{\"x\":1587290069206,\"y\":12},{\"x\":1587290969204,\"y\":176},{\"x\":1587292049203,\"y\":317},{\"x\":1587292949203,\"y\":1023},{\"x\":1587293849204,\"y\":2251},{\"x\":1587294749205,\"y\":168},{\"x\":1587295649194,\"y\":416},{\"x\":1587296549206,\"y\":569},{\"x\":1587297449198,\"y\":483},{\"x\":1587298349206,\"y\":276},{\"x\":1587299429208,\"y\":330},{\"x\":1587300329211,\"y\":484},{\"x\":1587301229208,\"y\":412},{\"x\":1587302129209,\"y\":348},{\"x\":1587303029209,\"y\":300},{\"x\":1587303929209,\"y\":312},{\"x\":1587305009213,\"y\":297},{\"x\":1587305909204,\"y\":780},{\"x\":1587306809216,\"y\":408},{\"x\":1587307709215,\"y\":348},{\"x\":1587308609216,\"y\":320},{\"x\":1587309509216,\"y\":348},{\"x\":1587310409217,\"y\":455},{\"x\":1587311309218,\"y\":448},{\"x\":1587312209220,\"y\":448},{\"x\":1587313109224,\"y\":448},{\"x\":1587314009221,\"y\":340},{\"x\":1587314909225,\"y\":376},{\"x\":1587315809225,\"y\":585},{\"x\":1587316709226,\"y\":512},{\"x\":1587317609228,\"y\":469},{\"x\":1587318509226,\"y\":512},{\"x\":1587319409231,\"y\":499},{\"x\":1587320309229,\"y\":1526},{\"x\":1587321389229,\"y\":1528},{\"x\":1587322469230,\"y\":424},{\"x\":1587323369238,\"y\":639},{\"x\":1587324449222,\"y\":1828},{\"x\":1587325529230,\"y\":1461},{\"x\":1587326609231,\"y\":1234},{\"x\":1587327509230,\"y\":595},{\"x\":1587328409231,\"y\":463},{\"x\":1587329309234,\"y\":437},{\"x\":1587330209239,\"y\":551},{\"x\":1587331109237,\"y\":615},{\"x\":1587332009239,\"y\":529},{\"x\":1587332909240,\"y\":503},{\"x\":1587333989233,\"y\":606},{\"x\":1587334889249,\"y\":677},{\"x\":1587335969240,\"y\":563},{\"x\":1587337049240,\"y\":550},{\"x\":1587337949245,\"y\":647},{\"x\":1587338849245,\"y\":702},{\"x\":1587339749247,\"y\":531},{\"x\":1587340649255,\"y\":544},{\"x\":1587341729250,\"y\":377},{\"x\":1587342809252,\"y\":316},{\"x\":1587343709253,\"y\":265},{\"x\":1587344609253,\"y\":264},{\"x\":1587345509254,\"y\":260},{\"x\":1587346409257,\"y\":349},{\"x\":1587347309264,\"y\":252},{\"x\":1587348389261,\"y\":247},{\"x\":1587349289266,\"y\":272},{\"x\":1587350189265,\"y\":328},{\"x\":1587351269268,\"y\":267},{\"x\":1587352349264,\"y\":254},{\"x\":1587353249268,\"y\":252},{\"x\":1587354149269,\"y\":344},{\"x\":1587355049269,\"y\":269},{\"x\":1587355949266,\"y\":240},{\"x\":1587356849268,\"y\":260},{\"x\":1587357929267,\"y\":310},{\"x\":1587358829268,\"y\":288},{\"x\":1587359729268,\"y\":256},{\"x\":1587360629270,\"y\":244},{\"x\":1587361529272,\"y\":276},{\"x\":1587362429276,\"y\":192},{\"x\":1587363329272,\"y\":204},{\"x\":1587364409272,\"y\":213},{\"x\":1587365309277,\"y\":432},{\"x\":1587366209277,\"y\":236},{\"x\":1587367109273,\"y\":208},{\"x\":1587368009273,\"y\":196},{\"x\":1587369089275,\"y\":200},{\"x\":1587369989275,\"y\":233},{\"x\":1587370889276,\"y\":224},{\"x\":1587371789279,\"y\":236},{\"x\":1587372689277,\"y\":229},{\"x\":1587373589277,\"y\":324},{\"x\":1587374489282,\"y\":664},{\"x\":1587375389298,\"y\":324},{\"x\":1587376289302,\"y\":842},{\"x\":1587377189299,\"y\":705},{\"x\":1587378089298,\"y\":236},{\"x\":1587378989300,\"y\":324},{\"x\":1587379889294,\"y\":1588},{\"x\":1587380789301,\"y\":1307},{\"x\":1587381869303,\"y\":563},{\"x\":1587382769303,\"y\":236},{\"x\":1587383669308,\"y\":1704},{\"x\":1587384569305,\"y\":184},{\"x\":1587385649305,\"y\":147},{\"x\":1587386549309,\"y\":192},{\"x\":1587387449305,\"y\":285},{\"x\":1587388529306,\"y\":236},{\"x\":1587389429306,\"y\":252},{\"x\":1587390329308,\"y\":233},{\"x\":1587391409308,\"y\":210},{\"x\":1587392489308,\"y\":173},{\"x\":1587393569308,\"y\":206},{\"x\":1587394469311,\"y\":184},{\"x\":1587395369301,\"y\":224},{\"x\":1587396449312,\"y\":267},{\"x\":1587397349307,\"y\":432},{\"x\":1587398429314,\"y\":376},{\"x\":1587399329314,\"y\":269},{\"x\":1587400229316,\"y\":188},{\"x\":1587401129316,\"y\":232},{\"x\":1587402029317,\"y\":329},{\"x\":1587402929320,\"y\":264},{\"x\":1587403829319,\"y\":316},{\"x\":1587404729325,\"y\":401},{\"x\":1587405629311,\"y\":380},{\"x\":1587406529323,\"y\":416},{\"x\":1587407429329,\"y\":432},{\"x\":1587408329326,\"y\":448},{\"x\":1587409229327,\"y\":819},{\"x\":1587410129320,\"y\":549},{\"x\":1587411029330,\"y\":619},{\"x\":1587411929329,\"y\":1904},{\"x\":1587412829330,\"y\":833},{\"x\":1587413729332,\"y\":736},{\"x\":1587414629331,\"y\":720},{\"x\":1587415529331,\"y\":715},{\"x\":1587416429333,\"y\":781},{\"x\":1587417329339,\"y\":808},{\"x\":1587418229337,\"y\":1315},{\"x\":1587419129337,\"y\":2174},{\"x\":1587420029339,\"y\":732},{\"x\":1587420929344,\"y\":773},{\"x\":1587421938010,\"y\":656},{\"x\":1587422009327,\"y\":690}],[{\"x\":1587249569174,\"y\":0},{\"x\":1587250649174,\"y\":0},{\"x\":1587251549177,\"y\":0},{\"x\":1587252449175,\"y\":0},{\"x\":1587253349166,\"y\":0},{\"x\":1587254249176,\"y\":0},{\"x\":1587255149183,\"y\":0},{\"x\":1587256229179,\"y\":0},{\"x\":1587257129182,\"y\":0},{\"x\":1587258029184,\"y\":0},{\"x\":1587258929184,\"y\":0},{\"x\":1587259829184,\"y\":0},{\"x\":1587260729189,\"y\":0},{\"x\":1587261809185,\"y\":0},{\"x\":1587262709192,\"y\":0},{\"x\":1587263609189,\"y\":0},{\"x\":1587264689186,\"y\":0},{\"x\":1587265589188,\"y\":0},{\"x\":1587266489191,\"y\":0},{\"x\":1587267569186,\"y\":0},{\"x\":1587268469178,\"y\":0},{\"x\":1587269369190,\"y\":0},{\"x\":1587270269190,\"y\":0},{\"x\":1587271169196,\"y\":0},{\"x\":1587272069196,\"y\":0},{\"x\":1587273149192,\"y\":0},{\"x\":1587274229191,\"y\":-3},{\"x\":1587275309185,\"y\":-3},{\"x\":1587276209180,\"y\":-12},{\"x\":1587277109197,\"y\":-28},{\"x\":1587278009194,\"y\":-76},{\"x\":1587278909194,\"y\":-164},{\"x\":1587279809198,\"y\":-176},{\"x\":1587280709195,\"y\":-204},{\"x\":1587281609197,\"y\":-232},{\"x\":1587282509196,\"y\":-284},{\"x\":1587283589196,\"y\":-324},{\"x\":1587284669196,\"y\":-264},{\"x\":1587285569200,\"y\":-276},{\"x\":1587286469199,\"y\":-324},{\"x\":1587287369202,\"y\":-277},{\"x\":1587288269201,\"y\":-336},{\"x\":1587289169205,\"y\":-336},{\"x\":1587290069206,\"y\":-324},{\"x\":1587290969204,\"y\":-268},{\"x\":1587292049203,\"y\":-204},{\"x\":1587292949203,\"y\":-220},{\"x\":1587293849204,\"y\":-228},{\"x\":1587294749205,\"y\":-332},{\"x\":1587295649194,\"y\":-200},{\"x\":1587296549206,\"y\":-160},{\"x\":1587297449198,\"y\":-112},{\"x\":1587298349207,\"y\":-168},{\"x\":1587299429208,\"y\":-113},{\"x\":1587300329212,\"y\":-132},{\"x\":1587301229208,\"y\":-112},{\"x\":1587302129210,\"y\":-112},{\"x\":1587303029209,\"y\":-164},{\"x\":1587303929209,\"y\":-152},{\"x\":1587305009213,\"y\":-190},{\"x\":1587305909204,\"y\":-232},{\"x\":1587306809216,\"y\":-252},{\"x\":1587307709215,\"y\":-288},{\"x\":1587308609216,\"y\":-260},{\"x\":1587309509216,\"y\":-204},{\"x\":1587310409218,\"y\":-152},{\"x\":1587311309218,\"y\":-100},{\"x\":1587312209221,\"y\":-116},{\"x\":1587313109224,\"y\":-104},{\"x\":1587314009222,\"y\":-80},{\"x\":1587314909226,\"y\":-32},{\"x\":1587315809226,\"y\":-20},{\"x\":1587316709226,\"y\":-20},{\"x\":1587317609228,\"y\":-20},{\"x\":1587318509226,\"y\":-8},{\"x\":1587319409231,\"y\":-4},{\"x\":1587320309229,\"y\":-4},{\"x\":1587321389229,\"y\":-7},{\"x\":1587322469231,\"y\":-13},{\"x\":1587323369238,\"y\":-12},{\"x\":1587324449222,\"y\":0},{\"x\":1587325529230,\"y\":0},{\"x\":1587326609231,\"y\":0},{\"x\":1587327509230,\"y\":0},{\"x\":1587328409231,\"y\":0},{\"x\":1587329309234,\"y\":0},{\"x\":1587330209240,\"y\":0},{\"x\":1587331109237,\"y\":0},{\"x\":1587332009239,\"y\":0},{\"x\":1587332909240,\"y\":0},{\"x\":1587333989233,\"y\":0},{\"x\":1587334889249,\"y\":0},{\"x\":1587335969241,\"y\":0},{\"x\":1587337049240,\"y\":0},{\"x\":1587337949245,\"y\":0},{\"x\":1587338849245,\"y\":0},{\"x\":1587339749247,\"y\":0},{\"x\":1587340649255,\"y\":0},{\"x\":1587341729251,\"y\":0},{\"x\":1587342809253,\"y\":0},{\"x\":1587343709253,\"y\":0},{\"x\":1587344609253,\"y\":0},{\"x\":1587345509255,\"y\":0},{\"x\":1587346409257,\"y\":0},{\"x\":1587347309265,\"y\":0},{\"x\":1587348389261,\"y\":0},{\"x\":1587349289267,\"y\":0},{\"x\":1587350189265,\"y\":0},{\"x\":1587351269268,\"y\":0},{\"x\":1587352349264,\"y\":0},{\"x\":1587353249268,\"y\":0},{\"x\":1587354149269,\"y\":0},{\"x\":1587355049269,\"y\":0},{\"x\":1587355949267,\"y\":0},{\"x\":1587356849268,\"y\":0},{\"x\":1587357929267,\"y\":0},{\"x\":1587358829268,\"y\":0},{\"x\":1587359729268,\"y\":0},{\"x\":1587360629270,\"y\":0},{\"x\":1587361529272,\"y\":0},{\"x\":1587362429276,\"y\":-4},{\"x\":1587363329273,\"y\":-20},{\"x\":1587364409273,\"y\":-47},{\"x\":1587365309277,\"y\":-64},{\"x\":1587366209277,\"y\":-60},{\"x\":1587367109273,\"y\":-60},{\"x\":1587368009274,\"y\":-64},{\"x\":1587369089275,\"y\":-93},{\"x\":1587369989275,\"y\":-92},{\"x\":1587370889276,\"y\":-52},{\"x\":1587371789279,\"y\":-60},{\"x\":1587372689277,\"y\":-64},{\"x\":1587373589277,\"y\":-52},{\"x\":1587374489282,\"y\":-76},{\"x\":1587375389298,\"y\":-112},{\"x\":1587376289303,\"y\":-112},{\"x\":1587377189300,\"y\":-132},{\"x\":1587378089298,\"y\":-144},{\"x\":1587378989300,\"y\":-144},{\"x\":1587379889294,\"y\":-204},{\"x\":1587380789301,\"y\":-264},{\"x\":1587381869303,\"y\":-216},{\"x\":1587382769303,\"y\":-240},{\"x\":1587383669309,\"y\":-304},{\"x\":1587384569305,\"y\":-224},{\"x\":1587385649305,\"y\":-330},{\"x\":1587386549309,\"y\":-304},{\"x\":1587387449305,\"y\":-220},{\"x\":1587388529306,\"y\":-147},{\"x\":1587389429306,\"y\":-140},{\"x\":1587390329309,\"y\":-172},{\"x\":1587391409308,\"y\":-160},{\"x\":1587392489308,\"y\":-197},{\"x\":1587393569308,\"y\":-243},{\"x\":1587394469311,\"y\":-261},{\"x\":1587395369301,\"y\":-168},{\"x\":1587396449312,\"y\":-160},{\"x\":1587397349308,\"y\":-160},{\"x\":1587398429314,\"y\":-177},{\"x\":1587399329314,\"y\":-172},{\"x\":1587400229316,\"y\":-220},{\"x\":1587401129317,\"y\":-184},{\"x\":1587402029318,\"y\":-84},{\"x\":1587402929320,\"y\":-104},{\"x\":1587403829320,\"y\":-72},{\"x\":1587404729325,\"y\":-52},{\"x\":1587405629311,\"y\":-32},{\"x\":1587406529323,\"y\":-16},{\"x\":1587407429330,\"y\":-12},{\"x\":1587408329327,\"y\":-12},{\"x\":1587409229327,\"y\":-12},{\"x\":1587410129320,\"y\":-16},{\"x\":1587411029330,\"y\":-16},{\"x\":1587411929329,\"y\":0},{\"x\":1587412829330,\"y\":0},{\"x\":1587413729332,\"y\":0},{\"x\":1587414629332,\"y\":0},{\"x\":1587415529331,\"y\":0},{\"x\":1587416429333,\"y\":0},{\"x\":1587417329339,\"y\":0},{\"x\":1587418229337,\"y\":0},{\"x\":1587419129337,\"y\":0},{\"x\":1587420029339,\"y\":0},{\"x\":1587420929344,\"y\":0},{\"x\":1587421938010,\"y\":0},{\"x\":1587422009328,\"y\":0}]],\"labels\":[\"\"]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":920,"wires":[["bd7b3367.c4a3a8"]]},{"id":"ce18fa07.60d47","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"[{\"series\":[\"inject\",\"soutir\",\"autoconso\"],\"data\":[[{\"x\":1587249569166,\"y\":0},{\"x\":1587250649167,\"y\":0},{\"x\":1587251549170,\"y\":0},{\"x\":1587252449168,\"y\":0},{\"x\":1587253349166,\"y\":0},{\"x\":1587254249170,\"y\":0},{\"x\":1587255149172,\"y\":0},{\"x\":1587256229172,\"y\":0},{\"x\":1587257129174,\"y\":0},{\"x\":1587258029174,\"y\":0},{\"x\":1587258929177,\"y\":0},{\"x\":1587259829177,\"y\":0},{\"x\":1587260729182,\"y\":0},{\"x\":1587261809179,\"y\":0},{\"x\":1587262709181,\"y\":0},{\"x\":1587263609182,\"y\":0},{\"x\":1587264689180,\"y\":0},{\"x\":1587265589181,\"y\":0},{\"x\":1587266489180,\"y\":0},{\"x\":1587267569179,\"y\":0},{\"x\":1587268469178,\"y\":0},{\"x\":1587269369183,\"y\":0},{\"x\":1587270269183,\"y\":0},{\"x\":1587271169185,\"y\":0},{\"x\":1587272069188,\"y\":0},{\"x\":1587273149185,\"y\":0},{\"x\":1587274229185,\"y\":0},{\"x\":1587275309181,\"y\":0},{\"x\":1587276209180,\"y\":0},{\"x\":1587277109189,\"y\":0},{\"x\":1587278009187,\"y\":0},{\"x\":1587278909187,\"y\":0},{\"x\":1587279809191,\"y\":40},{\"x\":1587280709188,\"y\":12},{\"x\":1587281609190,\"y\":0},{\"x\":1587282509189,\"y\":20},{\"x\":1587283589189,\"y\":47},{\"x\":1587284669189,\"y\":90},{\"x\":1587285569193,\"y\":0},{\"x\":1587286469192,\"y\":4},{\"x\":1587287369192,\"y\":132},{\"x\":1587288269193,\"y\":144},{\"x\":1587289169194,\"y\":56},{\"x\":1587290069196,\"y\":28},{\"x\":1587290969197,\"y\":0},{\"x\":1587292049196,\"y\":0},{\"x\":1587292949196,\"y\":0},{\"x\":1587293849197,\"y\":0},{\"x\":1587294749198,\"y\":0},{\"x\":1587295649194,\"y\":0},{\"x\":1587296549198,\"y\":0},{\"x\":1587297449195,\"y\":0},{\"x\":1587298349199,\"y\":0},{\"x\":1587299429200,\"y\":0},{\"x\":1587300329204,\"y\":0},{\"x\":1587301229201,\"y\":0},{\"x\":1587302129202,\"y\":0},{\"x\":1587303029202,\"y\":0},{\"x\":1587303929203,\"y\":0},{\"x\":1587305009203,\"y\":0},{\"x\":1587305909200,\"y\":0},{\"x\":1587306809209,\"y\":0},{\"x\":1587307709208,\"y\":0},{\"x\":1587308609209,\"y\":0},{\"x\":1587309509209,\"y\":0},{\"x\":1587310409211,\"y\":0},{\"x\":1587311309212,\"y\":0},{\"x\":1587312209214,\"y\":0},{\"x\":1587313109217,\"y\":0},{\"x\":1587314009214,\"y\":0},{\"x\":1587314909215,\"y\":0},{\"x\":1587315809215,\"y\":0},{\"x\":1587316709216,\"y\":0},{\"x\":1587317609221,\"y\":0},{\"x\":1587318509218,\"y\":0},{\"x\":1587319409224,\"y\":0},{\"x\":1587320309222,\"y\":0},{\"x\":1587321389222,\"y\":0},{\"x\":1587322469224,\"y\":0},{\"x\":1587323369232,\"y\":0},{\"x\":1587324449218,\"y\":0},{\"x\":1587325529224,\"y\":0},{\"x\":1587326609224,\"y\":0},{\"x\":1587327509223,\"y\":0},{\"x\":1587328409225,\"y\":0},{\"x\":1587329309227,\"y\":0},{\"x\":1587330209229,\"y\":0},{\"x\":1587331109230,\"y\":0},{\"x\":1587332009232,\"y\":0},{\"x\":1587332909233,\"y\":0},{\"x\":1587333989230,\"y\":0},{\"x\":1587334889239,\"y\":0},{\"x\":1587335969234,\"y\":0},{\"x\":1587337049233,\"y\":0},{\"x\":1587337949238,\"y\":0},{\"x\":1587338849238,\"y\":0},{\"x\":1587339749240,\"y\":0},{\"x\":1587340649244,\"y\":0},{\"x\":1587341729243,\"y\":0},{\"x\":1587342809245,\"y\":0},{\"x\":1587343709246,\"y\":0},{\"x\":1587344609246,\"y\":0},{\"x\":1587345509248,\"y\":0},{\"x\":1587346409250,\"y\":0},{\"x\":1587347309253,\"y\":0},{\"x\":1587348389254,\"y\":0},{\"x\":1587349289256,\"y\":0},{\"x\":1587350189258,\"y\":0},{\"x\":1587351269257,\"y\":0},{\"x\":1587352349257,\"y\":0},{\"x\":1587353249261,\"y\":0},{\"x\":1587354149262,\"y\":0},{\"x\":1587355049259,\"y\":0},{\"x\":1587355949260,\"y\":0},{\"x\":1587356849261,\"y\":0},{\"x\":1587357929260,\"y\":0},{\"x\":1587358829261,\"y\":0},{\"x\":1587359729261,\"y\":0},{\"x\":1587360629263,\"y\":0},{\"x\":1587361529265,\"y\":0},{\"x\":1587362429269,\"y\":0},{\"x\":1587363329265,\"y\":0},{\"x\":1587364409265,\"y\":0},{\"x\":1587365309269,\"y\":0},{\"x\":1587366209270,\"y\":0},{\"x\":1587367109266,\"y\":0},{\"x\":1587368009267,\"y\":0},{\"x\":1587369089268,\"y\":0},{\"x\":1587369989268,\"y\":0},{\"x\":1587370889269,\"y\":0},{\"x\":1587371789272,\"y\":0},{\"x\":1587372689270,\"y\":0},{\"x\":1587373589271,\"y\":0},{\"x\":1587374489276,\"y\":0},{\"x\":1587375389291,\"y\":0},{\"x\":1587376289292,\"y\":0},{\"x\":1587377189293,\"y\":0},{\"x\":1587378089292,\"y\":0},{\"x\":1587378989294,\"y\":0},{\"x\":1587379889291,\"y\":0},{\"x\":1587380789295,\"y\":0},{\"x\":1587381869296,\"y\":0},{\"x\":1587382769296,\"y\":0},{\"x\":1587383669297,\"y\":0},{\"x\":1587384569298,\"y\":0},{\"x\":1587385649298,\"y\":0},{\"x\":1587386549298,\"y\":0},{\"x\":1587387449298,\"y\":0},{\"x\":1587388529299,\"y\":0},{\"x\":1587389429299,\"y\":0},{\"x\":1587390329302,\"y\":0},{\"x\":1587391409302,\"y\":0},{\"x\":1587392489302,\"y\":0},{\"x\":1587393569302,\"y\":0},{\"x\":1587394469304,\"y\":0},{\"x\":1587395369301,\"y\":0},{\"x\":1587396449305,\"y\":0},{\"x\":1587397349307,\"y\":0},{\"x\":1587398429307,\"y\":0},{\"x\":1587399329307,\"y\":0},{\"x\":1587400229309,\"y\":0},{\"x\":1587401129309,\"y\":0},{\"x\":1587402029310,\"y\":0},{\"x\":1587402929313,\"y\":0},{\"x\":1587403829313,\"y\":0},{\"x\":1587404729315,\"y\":0},{\"x\":1587405629311,\"y\":0},{\"x\":1587406529316,\"y\":0},{\"x\":1587407429322,\"y\":0},{\"x\":1587408329319,\"y\":0},{\"x\":1587409229320,\"y\":0},{\"x\":1587410129316,\"y\":0},{\"x\":1587411029324,\"y\":0},{\"x\":1587411929322,\"y\":0},{\"x\":1587412829323,\"y\":0},{\"x\":1587413729325,\"y\":0},{\"x\":1587414629325,\"y\":0},{\"x\":1587415529324,\"y\":0},{\"x\":1587416429326,\"y\":0},{\"x\":1587417329332,\"y\":0},{\"x\":1587418229330,\"y\":0},{\"x\":1587419129331,\"y\":0},{\"x\":1587420029332,\"y\":0},{\"x\":1587420929333,\"y\":0},{\"x\":1587421937998,\"y\":0},{\"x\":1587422009327,\"y\":0}],[{\"x\":1587249569173,\"y\":396},{\"x\":1587250649174,\"y\":403},{\"x\":1587251549177,\"y\":340},{\"x\":1587252449175,\"y\":216},{\"x\":1587253349166,\"y\":188},{\"x\":1587254249176,\"y\":264},{\"x\":1587255149183,\"y\":240},{\"x\":1587256229179,\"y\":170},{\"x\":1587257129181,\"y\":176},{\"x\":1587258029184,\"y\":268},{\"x\":1587258929184,\"y\":184},{\"x\":1587259829183,\"y\":180},{\"x\":1587260729188,\"y\":160},{\"x\":1587261809185,\"y\":240},{\"x\":1587262709191,\"y\":216},{\"x\":1587263609188,\"y\":156},{\"x\":1587264689186,\"y\":180},{\"x\":1587265589188,\"y\":236},{\"x\":1587266489191,\"y\":212},{\"x\":1587267569186,\"y\":177},{\"x\":1587268469178,\"y\":156},{\"x\":1587269369190,\"y\":244},{\"x\":1587270269190,\"y\":212},{\"x\":1587271169196,\"y\":168},{\"x\":1587272069196,\"y\":176},{\"x\":1587273149192,\"y\":203},{\"x\":1587274229191,\"y\":217},{\"x\":1587275309184,\"y\":110},{\"x\":1587276209180,\"y\":100},{\"x\":1587277109196,\"y\":152},{\"x\":1587278009194,\"y\":92},{\"x\":1587278909194,\"y\":16},{\"x\":1587279809198,\"y\":0},{\"x\":1587280709195,\"y\":8},{\"x\":1587281609197,\"y\":104},{\"x\":1587282509196,\"y\":224},{\"x\":1587283589196,\"y\":0},{\"x\":1587284669196,\"y\":0},{\"x\":1587285569199,\"y\":64},{\"x\":1587286469199,\"y\":1207},{\"x\":1587287369202,\"y\":124},{\"x\":1587288269200,\"y\":0},{\"x\":1587289169205,\"y\":0},{\"x\":1587290069206,\"y\":12},{\"x\":1587290969204,\"y\":176},{\"x\":1587292049203,\"y\":317},{\"x\":1587292949203,\"y\":1023},{\"x\":1587293849204,\"y\":2251},{\"x\":1587294749205,\"y\":168},{\"x\":1587295649194,\"y\":416},{\"x\":1587296549206,\"y\":569},{\"x\":1587297449198,\"y\":483},{\"x\":1587298349206,\"y\":276},{\"x\":1587299429208,\"y\":330},{\"x\":1587300329211,\"y\":484},{\"x\":1587301229208,\"y\":412},{\"x\":1587302129209,\"y\":348},{\"x\":1587303029209,\"y\":300},{\"x\":1587303929209,\"y\":312},{\"x\":1587305009213,\"y\":297},{\"x\":1587305909204,\"y\":780},{\"x\":1587306809216,\"y\":408},{\"x\":1587307709215,\"y\":348},{\"x\":1587308609216,\"y\":320},{\"x\":1587309509216,\"y\":348},{\"x\":1587310409217,\"y\":455},{\"x\":1587311309218,\"y\":448},{\"x\":1587312209220,\"y\":448},{\"x\":1587313109224,\"y\":448},{\"x\":1587314009221,\"y\":340},{\"x\":1587314909225,\"y\":376},{\"x\":1587315809225,\"y\":585},{\"x\":1587316709226,\"y\":512},{\"x\":1587317609228,\"y\":469},{\"x\":1587318509226,\"y\":512},{\"x\":1587319409231,\"y\":499},{\"x\":1587320309229,\"y\":1526},{\"x\":1587321389229,\"y\":1528},{\"x\":1587322469230,\"y\":424},{\"x\":1587323369238,\"y\":639},{\"x\":1587324449222,\"y\":1828},{\"x\":1587325529230,\"y\":1461},{\"x\":1587326609231,\"y\":1234},{\"x\":1587327509230,\"y\":595},{\"x\":1587328409231,\"y\":463},{\"x\":1587329309234,\"y\":437},{\"x\":1587330209239,\"y\":551},{\"x\":1587331109237,\"y\":615},{\"x\":1587332009239,\"y\":529},{\"x\":1587332909240,\"y\":503},{\"x\":1587333989233,\"y\":606},{\"x\":1587334889249,\"y\":677},{\"x\":1587335969240,\"y\":563},{\"x\":1587337049240,\"y\":550},{\"x\":1587337949245,\"y\":647},{\"x\":1587338849245,\"y\":702},{\"x\":1587339749247,\"y\":531},{\"x\":1587340649255,\"y\":544},{\"x\":1587341729250,\"y\":377},{\"x\":1587342809252,\"y\":316},{\"x\":1587343709253,\"y\":265},{\"x\":1587344609253,\"y\":264},{\"x\":1587345509254,\"y\":260},{\"x\":1587346409257,\"y\":349},{\"x\":1587347309264,\"y\":252},{\"x\":1587348389261,\"y\":247},{\"x\":1587349289266,\"y\":272},{\"x\":1587350189265,\"y\":328},{\"x\":1587351269268,\"y\":267},{\"x\":1587352349264,\"y\":254},{\"x\":1587353249268,\"y\":252},{\"x\":1587354149269,\"y\":344},{\"x\":1587355049269,\"y\":269},{\"x\":1587355949266,\"y\":240},{\"x\":1587356849268,\"y\":260},{\"x\":1587357929267,\"y\":310},{\"x\":1587358829268,\"y\":288},{\"x\":1587359729268,\"y\":256},{\"x\":1587360629270,\"y\":244},{\"x\":1587361529272,\"y\":276},{\"x\":1587362429276,\"y\":192},{\"x\":1587363329272,\"y\":204},{\"x\":1587364409272,\"y\":213},{\"x\":1587365309277,\"y\":432},{\"x\":1587366209277,\"y\":236},{\"x\":1587367109273,\"y\":208},{\"x\":1587368009273,\"y\":196},{\"x\":1587369089275,\"y\":200},{\"x\":1587369989275,\"y\":233},{\"x\":1587370889276,\"y\":224},{\"x\":1587371789279,\"y\":236},{\"x\":1587372689277,\"y\":229},{\"x\":1587373589277,\"y\":324},{\"x\":1587374489282,\"y\":664},{\"x\":1587375389298,\"y\":324},{\"x\":1587376289302,\"y\":842},{\"x\":1587377189299,\"y\":705},{\"x\":1587378089298,\"y\":236},{\"x\":1587378989300,\"y\":324},{\"x\":1587379889294,\"y\":1588},{\"x\":1587380789301,\"y\":1307},{\"x\":1587381869303,\"y\":563},{\"x\":1587382769303,\"y\":236},{\"x\":1587383669308,\"y\":1704},{\"x\":1587384569305,\"y\":184},{\"x\":1587385649305,\"y\":147},{\"x\":1587386549309,\"y\":192},{\"x\":1587387449305,\"y\":285},{\"x\":1587388529306,\"y\":236},{\"x\":1587389429306,\"y\":252},{\"x\":1587390329308,\"y\":233},{\"x\":1587391409308,\"y\":210},{\"x\":1587392489308,\"y\":173},{\"x\":1587393569308,\"y\":206},{\"x\":1587394469311,\"y\":184},{\"x\":1587395369301,\"y\":224},{\"x\":1587396449312,\"y\":267},{\"x\":1587397349307,\"y\":432},{\"x\":1587398429314,\"y\":376},{\"x\":1587399329314,\"y\":269},{\"x\":1587400229316,\"y\":188},{\"x\":1587401129316,\"y\":232},{\"x\":1587402029317,\"y\":329},{\"x\":1587402929320,\"y\":264},{\"x\":1587403829319,\"y\":316},{\"x\":1587404729325,\"y\":401},{\"x\":1587405629311,\"y\":380},{\"x\":1587406529323,\"y\":416},{\"x\":1587407429329,\"y\":432},{\"x\":1587408329326,\"y\":448},{\"x\":1587409229327,\"y\":819},{\"x\":1587410129320,\"y\":549},{\"x\":1587411029330,\"y\":619},{\"x\":1587411929329,\"y\":1904},{\"x\":1587412829330,\"y\":833},{\"x\":1587413729332,\"y\":736},{\"x\":1587414629331,\"y\":720},{\"x\":1587415529331,\"y\":715},{\"x\":1587416429333,\"y\":781},{\"x\":1587417329339,\"y\":808},{\"x\":1587418229337,\"y\":1315},{\"x\":1587419129337,\"y\":2174},{\"x\":1587420029339,\"y\":732},{\"x\":1587420929344,\"y\":773},{\"x\":1587421938010,\"y\":656},{\"x\":1587422009327,\"y\":690}],[{\"x\":1587249569174,\"y\":0},{\"x\":1587250649174,\"y\":0},{\"x\":1587251549177,\"y\":0},{\"x\":1587252449175,\"y\":0},{\"x\":1587253349166,\"y\":0},{\"x\":1587254249176,\"y\":0},{\"x\":1587255149183,\"y\":0},{\"x\":1587256229179,\"y\":0},{\"x\":1587257129182,\"y\":0},{\"x\":1587258029184,\"y\":0},{\"x\":1587258929184,\"y\":0},{\"x\":1587259829184,\"y\":0},{\"x\":1587260729189,\"y\":0},{\"x\":1587261809185,\"y\":0},{\"x\":1587262709192,\"y\":0},{\"x\":1587263609189,\"y\":0},{\"x\":1587264689186,\"y\":0},{\"x\":1587265589188,\"y\":0},{\"x\":1587266489191,\"y\":0},{\"x\":1587267569186,\"y\":0},{\"x\":1587268469178,\"y\":0},{\"x\":1587269369190,\"y\":0},{\"x\":1587270269190,\"y\":0},{\"x\":1587271169196,\"y\":0},{\"x\":1587272069196,\"y\":0},{\"x\":1587273149192,\"y\":0},{\"x\":1587274229191,\"y\":-3},{\"x\":1587275309185,\"y\":-3},{\"x\":1587276209180,\"y\":-12},{\"x\":1587277109197,\"y\":-28},{\"x\":1587278009194,\"y\":-76},{\"x\":1587278909194,\"y\":-164},{\"x\":1587279809198,\"y\":-176},{\"x\":1587280709195,\"y\":-204},{\"x\":1587281609197,\"y\":-232},{\"x\":1587282509196,\"y\":-284},{\"x\":1587283589196,\"y\":-324},{\"x\":1587284669196,\"y\":-264},{\"x\":1587285569200,\"y\":-276},{\"x\":1587286469199,\"y\":-324},{\"x\":1587287369202,\"y\":-277},{\"x\":1587288269201,\"y\":-336},{\"x\":1587289169205,\"y\":-336},{\"x\":1587290069206,\"y\":-324},{\"x\":1587290969204,\"y\":-268},{\"x\":1587292049203,\"y\":-204},{\"x\":1587292949203,\"y\":-220},{\"x\":1587293849204,\"y\":-228},{\"x\":1587294749205,\"y\":-332},{\"x\":1587295649194,\"y\":-200},{\"x\":1587296549206,\"y\":-160},{\"x\":1587297449198,\"y\":-112},{\"x\":1587298349207,\"y\":-168},{\"x\":1587299429208,\"y\":-113},{\"x\":1587300329212,\"y\":-132},{\"x\":1587301229208,\"y\":-112},{\"x\":1587302129210,\"y\":-112},{\"x\":1587303029209,\"y\":-164},{\"x\":1587303929209,\"y\":-152},{\"x\":1587305009213,\"y\":-190},{\"x\":1587305909204,\"y\":-232},{\"x\":1587306809216,\"y\":-252},{\"x\":1587307709215,\"y\":-288},{\"x\":1587308609216,\"y\":-260},{\"x\":1587309509216,\"y\":-204},{\"x\":1587310409218,\"y\":-152},{\"x\":1587311309218,\"y\":-100},{\"x\":1587312209221,\"y\":-116},{\"x\":1587313109224,\"y\":-104},{\"x\":1587314009222,\"y\":-80},{\"x\":1587314909226,\"y\":-32},{\"x\":1587315809226,\"y\":-20},{\"x\":1587316709226,\"y\":-20},{\"x\":1587317609228,\"y\":-20},{\"x\":1587318509226,\"y\":-8},{\"x\":1587319409231,\"y\":-4},{\"x\":1587320309229,\"y\":-4},{\"x\":1587321389229,\"y\":-7},{\"x\":1587322469231,\"y\":-13},{\"x\":1587323369238,\"y\":-12},{\"x\":1587324449222,\"y\":0},{\"x\":1587325529230,\"y\":0},{\"x\":1587326609231,\"y\":0},{\"x\":1587327509230,\"y\":0},{\"x\":1587328409231,\"y\":0},{\"x\":1587329309234,\"y\":0},{\"x\":1587330209240,\"y\":0},{\"x\":1587331109237,\"y\":0},{\"x\":1587332009239,\"y\":0},{\"x\":1587332909240,\"y\":0},{\"x\":1587333989233,\"y\":0},{\"x\":1587334889249,\"y\":0},{\"x\":1587335969241,\"y\":0},{\"x\":1587337049240,\"y\":0},{\"x\":1587337949245,\"y\":0},{\"x\":1587338849245,\"y\":0},{\"x\":1587339749247,\"y\":0},{\"x\":1587340649255,\"y\":0},{\"x\":1587341729251,\"y\":0},{\"x\":1587342809253,\"y\":0},{\"x\":1587343709253,\"y\":0},{\"x\":1587344609253,\"y\":0},{\"x\":1587345509255,\"y\":0},{\"x\":1587346409257,\"y\":0},{\"x\":1587347309265,\"y\":0},{\"x\":1587348389261,\"y\":0},{\"x\":1587349289267,\"y\":0},{\"x\":1587350189265,\"y\":0},{\"x\":1587351269268,\"y\":0},{\"x\":1587352349264,\"y\":0},{\"x\":1587353249268,\"y\":0},{\"x\":1587354149269,\"y\":0},{\"x\":1587355049269,\"y\":0},{\"x\":1587355949267,\"y\":0},{\"x\":1587356849268,\"y\":0},{\"x\":1587357929267,\"y\":0},{\"x\":1587358829268,\"y\":0},{\"x\":1587359729268,\"y\":0},{\"x\":1587360629270,\"y\":0},{\"x\":1587361529272,\"y\":0},{\"x\":1587362429276,\"y\":-4},{\"x\":1587363329273,\"y\":-20},{\"x\":1587364409273,\"y\":-47},{\"x\":1587365309277,\"y\":-64},{\"x\":1587366209277,\"y\":-60},{\"x\":1587367109273,\"y\":-60},{\"x\":1587368009274,\"y\":-64},{\"x\":1587369089275,\"y\":-93},{\"x\":1587369989275,\"y\":-92},{\"x\":1587370889276,\"y\":-52},{\"x\":1587371789279,\"y\":-60},{\"x\":1587372689277,\"y\":-64},{\"x\":1587373589277,\"y\":-52},{\"x\":1587374489282,\"y\":-76},{\"x\":1587375389298,\"y\":-112},{\"x\":1587376289303,\"y\":-112},{\"x\":1587377189300,\"y\":-132},{\"x\":1587378089298,\"y\":-144},{\"x\":1587378989300,\"y\":-144},{\"x\":1587379889294,\"y\":-204},{\"x\":1587380789301,\"y\":-264},{\"x\":1587381869303,\"y\":-216},{\"x\":1587382769303,\"y\":-240},{\"x\":1587383669309,\"y\":-304},{\"x\":1587384569305,\"y\":-224},{\"x\":1587385649305,\"y\":-330},{\"x\":1587386549309,\"y\":-304},{\"x\":1587387449305,\"y\":-220},{\"x\":1587388529306,\"y\":-147},{\"x\":1587389429306,\"y\":-140},{\"x\":1587390329309,\"y\":-172},{\"x\":1587391409308,\"y\":-160},{\"x\":1587392489308,\"y\":-197},{\"x\":1587393569308,\"y\":-243},{\"x\":1587394469311,\"y\":-261},{\"x\":1587395369301,\"y\":-168},{\"x\":1587396449312,\"y\":-160},{\"x\":1587397349308,\"y\":-160},{\"x\":1587398429314,\"y\":-177},{\"x\":1587399329314,\"y\":-172},{\"x\":1587400229316,\"y\":-220},{\"x\":1587401129317,\"y\":-184},{\"x\":1587402029318,\"y\":-84},{\"x\":1587402929320,\"y\":-104},{\"x\":1587403829320,\"y\":-72},{\"x\":1587404729325,\"y\":-52},{\"x\":1587405629311,\"y\":-32},{\"x\":1587406529323,\"y\":-16},{\"x\":1587407429330,\"y\":-12},{\"x\":1587408329327,\"y\":-12},{\"x\":1587409229327,\"y\":-12},{\"x\":1587410129320,\"y\":-16},{\"x\":1587411029330,\"y\":-16},{\"x\":1587411929329,\"y\":0},{\"x\":1587412829330,\"y\":0},{\"x\":1587413729332,\"y\":0},{\"x\":1587414629332,\"y\":0},{\"x\":1587415529331,\"y\":0},{\"x\":1587416429333,\"y\":0},{\"x\":1587417329339,\"y\":0},{\"x\":1587418229337,\"y\":0},{\"x\":1587419129337,\"y\":0},{\"x\":1587420029339,\"y\":0},{\"x\":1587420929344,\"y\":0},{\"x\":1587421938010,\"y\":0},{\"x\":1587422009328,\"y\":0}]],\"labels\":[\"\"]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":880,"wires":[["b42e7b24.3f3388"]]},{"id":"64364859.15bfd8","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":840,"wires":[["e7ac7f1d.0d6168","527355b7.7c8a84","868f58e0.1a0718","e80b71c0.e928b"]]},{"id":"4133904.7bf91f","type":"debug","z":"60b1046f.48a20c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1280,"y":880,"wires":[]},{"id":"5c233600.fa8618","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["fc29c012.b40a5"]]},{"id":"fc29c012.b40a5","type":"function","z":"60b1046f.48a20c","name":"Recuperation des donnees","func":"var prod = flow.get(\"SnSrIdxObj\")\n\nvar ret = {};\nret.payload = {\"production_index\": prod.prodidx, \n    \"injection_index\": prod.injectidx,\n    \"withdrawal_index\": prod.soutiridx,\n    \"raspberry_mac\": flow.get(\"UUID\").toString()\n    }\n\nreturn ret;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["9be04eab.bbe498","9e0e9174.808078"]]},{"id":"9e0e9174.808078","type":"http request","z":"60b1046f.48a20c","name":"envoie sur le serveur","method":"POST","ret":"txt","paytoqs":false,"url":"http://51.77.146.123:80/api/v1/energy/","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":140,"wires":[[]]},{"id":"9be04eab.bbe498","type":"debug","z":"60b1046f.48a20c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":180,"wires":[]},{"id":"4984380c.d5171","type":"exec","z":"60b1046f.48a20c","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"config","x":310,"y":100,"wires":[["bc3d818a.3246e8"],[],[]]},{"id":"44d67434.9392a4","type":"inject","z":"60b1046f.48a20c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["4984380c.d5171"]]},{"id":"f31d4f9e.bbb6d","type":"debug","z":"60b1046f.48a20c","name":"Mac address","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":100,"wires":[]},{"id":"bc3d818a.3246e8","type":"function","z":"60b1046f.48a20c","name":"Create Mac address","func":"let val = msg.payload.slice(0, msg.payload.length - 1);\nflow.set (\"UUID\", val);\n\nvar ret = {};\nret.payload = {\"Mac Address\": val}\nreturn ret;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["f31d4f9e.bbb6d"]]},{"id":"e8871c2c.7e76e8","type":"comment","z":"60b1046f.48a20c","name":"COMMUNITY SERVER","info":"","x":140,"y":60,"wires":[]},{"id":"2801b644.dadc02","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"7","parity":"even","stopbits":"1","newline":"0x3","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"ce072d05.42146","type":"ui_group","z":"","name":"Conso & Prod","tab":"d10b51a3.e06e68","order":1,"disp":true,"width":"6","collapse":false},{"id":"baa849fc.7e0f78","type":"ui_group","z":"","name":"Journee d'hier","tab":"dc8d6bd6.a909f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"432cb2e6.dd78fc","type":"ui_group","z":"","name":"Index","tab":"dc8d6bd6.a909f8","order":8,"disp":true,"width":"6","collapse":false},{"id":"b9ee9665.1941b","type":"ui_group","z":"","name":"Météo du jour à :","tab":"dc8d6bd6.a909f8","order":3,"disp":true,"width":"5","collapse":false},{"id":"6bc8951f.8f5abc","type":"ui_group","z":"","name":"Objectifs","tab":"dc8d6bd6.a909f8","order":4,"disp":false,"width":"6","collapse":false},{"id":"b7a72834.b7abc8","type":"ui_group","z":"","name":"Linky Live","tab":"dc8d6bd6.a909f8","order":2,"disp":true,"width":"3","collapse":false},{"id":"567b1b74.384684","type":"ui_group","z":"","name":"Cagnotte","tab":"dc8d6bd6.a909f8","order":1,"disp":true,"width":"4","collapse":false},{"id":"265db1c0.bae6a6","type":"ui_group","z":"","name":"Autoconsommation & Surplus","tab":"dc8d6bd6.a909f8","order":6,"disp":true,"width":"6","collapse":false},{"id":"d4bbed56.cd0ff","type":"ui_group","z":"","name":"Consommation & Production","tab":"dc8d6bd6.a909f8","order":7,"disp":true,"width":"6","collapse":false},{"id":"a1df11f1.7648f8","type":"ui_group","z":"","name":"A propos :","tab":"dc8d6bd6.a909f8","order":9,"disp":true,"width":"6","collapse":false},{"id":"dc58a71a.3a1d9","type":"ui_group","z":"","name":"Conseils","tab":"dc8d6bd6.a909f8","order":10,"disp":true,"width":"6","collapse":false},{"id":"d10b51a3.e06e68","type":"ui_tab","z":"","name":"BONUS","icon":"dashboard","disabled":false,"hidden":false},{"id":"dc8d6bd6.a909f8","type":"ui_tab","z":"","name":"MA BOXENERGIE","icon":"dashboard","disabled":false,"hidden":false}]
